# Overview

In this notebook, we conduct data cleaning on individual tables before merging them. Subsequently, we merge all the tables, resulting in a comprehensive dataframe. Finally, we flatten the dataframe, treating each row as a session execution.

**Author**: Oscar Javier Bastidas Jossa. 

**Email**: oscar.jossa@deusto.es.

In [1]:
import pandas as pd
import numpy as np

from utilities import Data_cleaning
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 500)

# Data Cleaning - Stage 1

Initially, we conduct a primary check for NaN values. Following this, we adjust the data types for the columns as necessary. Finally, we examine the data for any duplicated entries.

In [2]:
def run_individual_table_cleaner(df,
                                 change_data_type_columns={},
                                 columns_to_check_units=[]):
    """
        Method to create an instance for each df passed and run some methods of the Data_cleaning class

        Parameters:
        df (dataframe): The dataframe passed for each table
        change_data_type_columns (dict): A dictionary specifying the data types to change for some columns.
        columns_to_check_units (list): A list of columns to check their units.

        Returns:
        The dataframed with datatypes of the specified columns changed.
    """

    #Create an instance of the Data_cleaning class
    cleaner = Data_cleaning(df)

    # Converting data types of the indicated columns
    df = cleaner.converting_data_types(change_data_type_columns)

    # Check data type
    cleaner.check_data_type()
  
    # Check duplicated
    cleaner.check_duplicated()

    # Check the unity of the indicated columns
    cleaner.check_unit_columns(columns_to_check_units)

    return df

## session executions summary

In [3]:
# Loading data
import ast

session_executions_summary = pd.read_csv('../data/session_execution_summaries.csv', 
                                 on_bad_lines='skip', # skip bad lines without raising or warning when they are encountered.
                                 escapechar='\\',
                                 header = None)
session_executions_summary = session_executions_summary.replace('N', '0')
session_executions_summary[6] = session_executions_summary[6].apply(ast.literal_eval)
session_executions_summary[7] = session_executions_summary[7].apply(ast.literal_eval)
session_executions_summary[8] = session_executions_summary[8].apply(ast.literal_eval)

C:\Users\eVida-PC\AppData\Local\Temp\ipykernel_9464\1706852674.py:4: DtypeWarning: Columns (15,17) have mixed types. Specify dtype option on import or set low_memory=False.
  session_executions_summary = pd.read_csv('../data/session_execution_summaries.csv',

In [4]:
# assigning the headers
session_executions_summary.columns = ['id', 'session_execution_id', 'total_reps', 
                              'total_time', 'reps_per_min',
                              'total_kcal', 'reps_per_exercise',
                              'secs_per_exercise', 'reps_per_min_per_exercise', 'created_at', 'updated_at',
                              'reps_set_per_block', 'time_set_per_block', 'average_reps_min_set_per_block',
                              'reps_min_set_block', 'effort', 'points', 'value_of_session', 'body_parts_spider', 'name']

session_executions_summary = session_executions_summary.drop(['body_parts_spider'], axis = 1)

# First check of table
change_data_type_columns = {'int_cols' : ['difficulty_feedback', 'enjoyment_feedback', 'discard_reason'],
                            'float_cols' : ['execution_time', 'reps_executed'],
                            'datetime' : ['created_at','updated_at'],
                            'boolean': ['discarded', 'imported']}
columns_to_check_units = ['difficulty_feedback', 'enjoyment_feedback']

# session_executions_summary = run_individual_table_cleaner(session_executions_summary, 
#                                                          change_data_type_columns,
#                                                          columns_to_check_units)

In [5]:
session_executions_summary.shape

(734011, 19)

## session executions

In [6]:
# Loading data
session_executions = pd.read_csv('../data/session_executions.csv', 
                                 on_bad_lines='skip', # skip bad lines without raising or warning when they are encountered. 
                                 header = None)

# assigning the headers
session_executions.columns = ['id', 'scheduled_at', 'user_program_id', 
                              'difficulty_feedback', 'enjoyment_feedback',
                              'feedback_comment', 'reps_executed',
                              'execution_time', 'order', 'created_at',
                              'updated_at', 'front_end_id', 'session_id',
                              'discarded', 'discard_reason', 'imported']

session_executions = session_executions.drop(['scheduled_at', 'feedback_comment',
                                              'order', 'front_end_id'], axis = 1)

# First check of table
change_data_type_columns = {'int_cols' : ['difficulty_feedback', 'enjoyment_feedback', 'discard_reason'],
                            'float_cols' : ['execution_time', 'reps_executed'],
                            'datetime' : ['created_at','updated_at'],
                            'boolean': ['discarded', 'imported']}
columns_to_check_units = ['difficulty_feedback', 'enjoyment_feedback']

session_executions = run_individual_table_cleaner(session_executions, 
                                                  change_data_type_columns,
                                                  columns_to_check_units)

C:\Users\eVida-PC\AppData\Local\Temp\ipykernel_9464\1177141549.py:2: DtypeWarning: Columns (6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  session_executions = pd.read_csv('../data/session_executions.csv',

 --- converting_data_types method executed ---

converting int_cols
converting float_cols
converting datetime
converting boolean

 --- check_data_type method executed ---

id                              int64
user_program_id                 int64
difficulty_feedback           float64
enjoyment_feedback            float64
reps_executed                 float64
execution_time                float64
created_at             datetime64[ns]
updated_at             datetime64[ns]
session_id                      int64
discarded                        bool
discard_reason                float64
imported                         bool
dtype: object

 --- check_duplicate method executed ---

0         False
1         False
2         False
3         False
4         False
          ...
738683    False
738684    False
738685    False
738686    False
738687    False
Length: 738688, dtype: bool

 --- check_unit_columns method executed ---

5.0     423691
10.0     95045
1.0      52418
6.0       7788
7.0       7419
8.0       3857
4.0       2869
3.0       2079
9.0       1831
2.0        623
Name: difficulty_feedback, dtype: int64
3.0    381827
5.0    179055
1.0     20014
4.0     15732
2.0       998
Name: enjoyment_feedback, dtype: int64

## user_programs

In [7]:
# Loading data
user_programs = pd.read_csv('../data/user_programs.csv', on_bad_lines='skip', low_memory=False)

# Dropping some columns
user_programs = user_programs.drop(['enjoyment_notes'], axis = 1)

# First check of table
change_data_type_columns = {
    'datetime' : ['created_at','updated_at'],
    'boolean': ['active', 'completed']
}

user_programs = run_individual_table_cleaner(user_programs, 
                                  change_data_type_columns)

 --- converting_data_types method executed ---

converting datetime
converting boolean

 --- check_data_type method executed ---

id                             int64
user_id                        int64
program_id                     int64
created_at            datetime64[ns]
updated_at            datetime64[ns]
active                          bool
current_session_id           float64
completed                       bool
enjoyment                    float64
dtype: object

 --- check_duplicate method executed ---

0        False
1        False
2        False
3        False
4        False
         ...
81316    False
81317    False
81318    False
81319    False
81320    False
Length: 81321, dtype: bool

 --- check_unit_columns method executed ---

## Users

In [8]:
users = pd.read_csv('../data/users.csv', low_memory=False)
users = users.drop(['email', 'encrypted_password', 
                     'reset_password_token','reset_password_sent_at',
                     'remember_created_at','is_admin','names', 'last_name',
                     'current_sign_in_ip', 'last_sign_in_ip', 
                     'recover_password_code','recover_password_attempts', 
                     'facebook_uid','workout_setting_voice_coach', 'workout_setting_sound',
                     'workout_setting_vibration', 'workout_setting_mobility',
                     'workout_setting_cardio_warmup', 'workout_setting_countdown',
                     'google_uid','t1_push','t1_core', 
                     't1_legs', 't1_full', 't1_push_exercise', 
                     't1_pull_up','t2_reps', 't2_steps', 
                     't2_reps_push', 't2_reps_core', 't2_reps_legs',
                     't2_reps_full', 't2_time_push', 't2_time_core',
                     't2_time_legs', 't2_time_full', 't1_full_exercise', 
                     't1_pull_up_exercise','warmup_setting', 
                     'warmup_session_id', 'stripe_id', 'provider', 'uid',
                     'affiliate_code', 'moengage_id', 'mix_panel_id',
                     'apple_id_token','platform', 'login_token', 'current_sign_in_at', 
                     'last_sign_in_at','login_token_generated_at', 'current_weekly_streak'], 
                      axis = 1)

# First check of table
change_data_type_columns = {'datetime' : ['created_at', 'updated_at', 'date_of_birth'],
                            'boolean': ['gender', 'newsletter_subscription',
                                        'notifications_setting', 'imported', 
                                        'scientific_data_usage',
                                        'affiliate_code_signup']}

columns_to_check_units = ['height', 'weight','activity_level',
                          'activity_level', 'goal', 'body_type', 
                          'body_fat', 'training_days_setting',
                          'best_weekly_streak']

users = run_individual_table_cleaner(users, 
                                     change_data_type_columns,
                                     columns_to_check_units)

 --- converting_data_types method executed ---

converting datetime
converting boolean

 --- check_data_type method executed ---

id                                  int64
created_at                 datetime64[ns]
updated_at                 datetime64[ns]
gender                               bool
date_of_birth              datetime64[ns]
height                            float64
weight                            float64
activity_level                      int64
goal                                int64
body_type                           int64
body_fat                          float64
newsletter_subscription              bool
sign_in_count                       int64
notifications_setting                bool
training_days_setting               int64
language                           object
country                            object
points                              int64
scientific_data_usage                bool
best_weekly_streak                  int64
affiliate_code_signup              object
total_sessions                    float64
total_time                        float64
kcal_per_session                  float64
reps_per_session                  float64
imported                             bool
dtype: object

 --- check_duplicate method executed ---

0        False
1        False
2        False
3        False
4        False
         ...
18683    False
18684    False
18685    False
18686    False
18687    False
Length: 18688, dtype: bool

 --- check_unit_columns method executed ---

170.00     1338
160.00      909
180.00      899
175.00      848
178.00      799
165.00      759
173.00      733
169.00      677
168.00      673
174.00      664
172.00      651
163.00      643
176.00      519
164.00      510
177.00      495
167.00      490
183.00      486
162.00      446
171.00      443
179.00      432
158.00      399
182.00      398
185.00      330
181.00      320
166.00      319
159.00      311
184.00      290
157.00      283
161.00      268
156.00      234
155.00      229
186.00      201
187.00      140
190.00      137
188.00      132
154.00      124
150.00      113
153.00      112
1.00         96
189.00       96
152.00       89
191.00       50
192.00       48
193.00       45
151.00       38
194.00       29
149.00       29
148.00       23
196.00       22
195.00       17
177.80       17
162.56       16
182.88       15
180.34       15
145.00       15
147.00       15
165.10       13
167.64       13
157.48       13
172.72       12
170.18       12
146.00       12
198.00       12
175.26       10
5.00         10
187.96        9
160.02        8
185.42        8
197.00        7
149.86        6
154.94        6
1.68          5
193.04        4
143.00        4
1.59          4
130.00        4
200.00        4
34.00         4
1.60          3
1.55          3
152.40        3
1.63          3
195.58        3
6.00          3
1.64          2
190.50        2
1.56          2
63.00         2
142.00        2
1.67          2
1.65          2
1.62          2
203.00        2
138.00        2
0.00          2
1.72          2
1.71          2
1.69          2
1.70          1
144.00        1
164.60        1
1.78          1
1.73          1
1166.00       1
215.90        1
236.22        1
1.54          1
1.48          1
142.24        1
5.20          1
500.00        1
202.00        1
263.00        1
1780.00       1
1.76          1
204.00        1
70.00         1
76.00         1
221.00        1
121.92        1
1.74          1
205.74        1
333.00        1
112.00        1
1.79          1
1.58          1
270.00        1
69.00         1
1.61          1
1.66          1
140.00        1
Name: height, dtype: int64
70.000000    869
60.000000    680
80.000000    655
75.000000    630
72.000000    526
            ...
78.800000      1
97.505000      1
97.959000      1
92.400000      1
75.283447      1
Name: weight, Length: 706, dtype: int64
1    9728
2    6792
0    2168
Name: activity_level, dtype: int64
1    9728
2    6792
0    2168
Name: activity_level, dtype: int64
0    8257
1    7838
2    2593
Name: goal, dtype: int64
1    8791
0    7653
2    2244
Name: body_type, dtype: int64
20.0000    4682
25.0000    3582
30.0000    2778
15.0000    2684
35.0000    1695
10.0000     940
40.0000     769
45.0000     356
50.0000     245
18.0000     108
22.0000      80
16.0000      63
17.0000      63
23.0000      58
14.0000      54
12.0000      53
19.0000      49
21.0000      41
13.0000      35
24.0000      35
27.0000      29
28.0000      25
26.0000      21
29.0000      18
32.0000      17
11.0000      17
8.0000       14
6.0000       11
34.0000      11
33.0000      10
9.0000       10
38.0000       6
5.0000        6
16.5000       5
31.0000       5
36.0000       3
41.0000       3
60.0000       3
20.5000       3
7.0000        3
24.1000       2
80.0000       2
37.0000       2
11.5000       2
22.1000       2
55.0000       2
17.5000       2
44.0000       2
11.4000       2
12.5000       2
43.0000       2
19.7000       2
28.4000       1
23.2000       1
25.1000       1
32.2000       1
15.6000       1
25.0425       1
16.3900       1
31.9000       1
42.0000       1
17.1000       1
9.9000        1
17.4000       1
8.4200        1
38.7000       1
34.4000       1
25.7000       1
26.7000       1
6.6000        1
18.1000       1
18.9000       1
14.3000       1
14.6000       1
8.7000        1
32.6000       1
14.5000       1
18.6000       1
23.8000       1
45.3000       1
16.9000       1
8.5000        1
7.5000        1
23.7000       1
12.6000       1
21.6000       1
19.2000       1
21.8000       1
26.8000       1
25.4800       1
14.7000       1
43.2400       1
18.2000       1
41.5000       1
13.7000       1
12.7000       1
24.5000       1
23.4000       1
21.5000       1
18.3000       1
18.8400       1
2.0000        1
25.5000       1
16.4000       1
20.9000       1
27.5000       1
15.7000       1
22.9000       1
14.9000       1
22.2000       1
17.8000       1
27.2000       1
53.2000       1
15.1000       1
22.6000       1
10.1000       1
26.3000       1
61.2000       1
22.5000       1
34.5000       1
13.8000       1
20.2000       1
23.6000       1
65.0000       1
3.0000        1
10.5000       1
Name: body_fat, dtype: int64
3    9379
1    4554
4    1734
5    1721
2     558
6     435
7     307
Name: training_days_setting, dtype: int64
0     15048
1      1524
2       563
3       350
4       225
5       169
6       108
7       105
8        85
9        74
10       64
11       52
12       41
13       38
14       29
15       21
18       19
16       17
19       16
17       15
20       14
22       12
21       12
23        7
24        7
25        6
35        6
31        6
29        5
26        5
46        4
39        4
28        4
44        4
37        4
33        4
32        3
47        2
41        2
42        2
36        2
27        2
34        2
30        2
43        1
49        1
40        1
45        1
Name: best_weekly_streak, dtype: int64

Be careful when analysis the data of some users, information such as **height** or **weigth** is not correct. Consider to check those variables in the final analysis.

## Programs

In [9]:
programs = pd.read_csv('../data/programs.csv', on_bad_lines='skip', low_memory=False)
programs = programs.drop(['user_id', 'code_name', 'name_es', 
                           'description_es', 'auto_generated', 'priority_order', 
                           'next_program_id'], axis = 1)


# First check of table
change_data_type_columns = {'datetime' : ['created_at', 'updated_at'],
                            'boolean': ['pro', 'available']}

columns_to_check_units = ['strength', 'endurance','technique',
                          'flexibility', 'intensity']

programs = run_individual_table_cleaner(programs, 
                                        change_data_type_columns,
                                        columns_to_check_units)
#programs

 --- converting_data_types method executed ---

converting datetime
converting boolean

 --- check_data_type method executed ---

id                         int64
created_at        datetime64[ns]
updated_at        datetime64[ns]
pro                         bool
available                   bool
strength                   int64
endurance                  int64
technique                  int64
flexibility                int64
intensity                  int64
name_en                   object
description_en            object
dtype: object

 --- check_duplicate method executed ---

0      False
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
30     False
31     False
32     False
33     False
34     False
35     False
36     False
37     False
38     False
39     False
40     False
41     False
42     False
43     False
44     False
45     False
46     False
47     False
48     False
49     False
50     False
51     False
52     False
53     False
54     False
55     False
56     False
57     False
58     False
59     False
60     False
61     False
62     False
63     False
64     False
65     False
66     False
67     False
68     False
69     False
70     False
71     False
72     False
73     False
74     False
75     False
76     False
77     False
78     False
79     False
80     False
81     False
82     False
83     False
84     False
85     False
86     False
87     False
88     False
89     False
90     False
91     False
92     False
93     False
94     False
95     False
96     False
97     False
98     False
99     False
100    False
101    False
102    False
103    False
104    False
105    False
106    False
107    False
108    False
109    False
110    False
111    False
112    False
113    False
114    False
115    False
116    False
117    False
118    False
119    False
120    False
121    False
122    False
123    False
124    False
125    False
126    False
127    False
128    False
129    False
130    False
131    False
132    False
133    False
134    False
135    False
136    False
137    False
138    False
139    False
140    False
141    False
142    False
143    False
144    False
145    False
146    False
147    False
148    False
149    False
150    False
151    False
152    False
153    False
154    False
155    False
156    False
157    False
158    False
159    False
160    False
161    False
162    False
163    False
164    False
165    False
166    False
167    False
168    False
169    False
170    False
171    False
172    False
173    False
174    False
175    False
176    False
177    False
178    False
179    False
180    False
181    False
182    False
183    False
184    False
185    False
186    False
187    False
188    False
189    False
190    False
191    False
192    False
193    False
194    False
195    False
196    False
197    False
198    False
199    False
200    False
201    False
202    False
203    False
204    False
205    False
206    False
207    False
208    False
209    False
210    False
211    False
212    False
213    False
214    False
215    False
216    False
217    False
218    False
219    False
220    False
221    False
222    False
223    False
224    False
225    False
226    False
227    False
228    False
229    False
230    False
231    False
232    False
233    False
234    False
235    False
236    False
237    False
238    False
239    False
240    False
241    False
242    False
243    False
244    False
245    False
246    False
247    False
248    False
249    False
250    False
251    False
252    False
253    False
254    False
255    False
256    False
257    False
258    False
259    False
260    False
261    False
262    False
263    False
264    False
265    False
266    False
267    False
268    False
269    False
270    False
271    False
272    False
273    False
274    False
275    False
276    False
277    False
278    False
279    False
280    False
281    False
282    False
283    False
284    False
285    False
286    False
287    False
288    False
289    False
290    False
291    False
292    False
293    False
294    False
295    False
296    False
297    False
298    False
299    False
300    False
301    False
302    False
303    False
304    False
305    False
306    False
307    False
308    False
309    False
310    False
311    False
312    False
313    False
314    False
315    False
316    False
317    False
318    False
319    False
320    False
321    False
322    False
323    False
324    False
325    False
326    False
327    False
328    False
329    False
330    False
331    False
332    False
333    False
334    False
335    False
336    False
337    False
338    False
339    False
340    False
341    False
342    False
343    False
344    False
345    False
346    False
347    False
348    False
349    False
350    False
351    False
352    False
353    False
354    False
355    False
356    False
357    False
358    False
359    False
360    False
361    False
362    False
363    False
364    False
365    False
366    False
367    False
368    False
369    False
370    False
371    False
372    False
373    False
374    False
375    False
376    False
377    False
378    False
379    False
380    False
381    False
382    False
383    False
384    False
385    False
386    False
387    False
388    False
389    False
390    False
391    False
392    False
393    False
394    False
395    False
396    False
397    False
398    False
399    False
400    False
401    False
402    False
403    False
404    False
405    False
406    False
407    False
408    False
409    False
410    False
411    False
412    False
413    False
414    False
415    False
416    False
417    False
418    False
419    False
420    False
421    False
422    False
423    False
424    False
425    False
426    False
427    False
428    False
429    False
430    False
431    False
432    False
433    False
434    False
435    False
436    False
437    False
438    False
439    False
440    False
441    False
442    False
443    False
444    False
445    False
446    False
447    False
448    False
449    False
450    False
451    False
452    False
453    False
454    False
455    False
456    False
457    False
458    False
459    False
460    False
461    False
462    False
463    False
464    False
465    False
466    False
467    False
468    False
469    False
470    False
471    False
472    False
473    False
474    False
475    False
476    False
477    False
478    False
479    False
480    False
481    False
482    False
dtype: bool

 --- check_unit_columns method executed ---

0    443
3     16
5     11
2      5
4      5
1      3
Name: strength, dtype: int64
0    443
4     19
2     12
3      8
5      1
Name: endurance, dtype: int64
0    443
3     17
1     12
2      9
4      1
5      1
Name: technique, dtype: int64
0    443
2     19
3     16
4      3
1      2
Name: flexibility, dtype: int64
0    443
2     13
5     12
4     10
3      5
Name: intensity, dtype: int64

In [10]:
programs.loc[programs['id'] == 30, 'description_en']

291    The simplest equipment is often the most effec...
Name: description_en, dtype: object

## Table of program characteristics

In [11]:

program_characteristics = pd.read_csv('../data/program_characteristics.csv', on_bad_lines='skip', low_memory=False)
program_characteristics = program_characteristics.drop(['created_at', 'updated_at'], axis = 1)


# First check of table
change_data_type_columns = {'boolean': ['objective']}

program_characteristics = run_individual_table_cleaner(program_characteristics, 
                                                       change_data_type_columns)
program_characteristics

 --- converting_data_types method executed ---

converting boolean

 --- check_data_type method executed ---

id             int64
program_id     int64
objective       bool
value_en      object
value_es      object
dtype: object

 --- check_duplicate method executed ---

0       False
1       False
2       False
3       False
4       False
        ...
2802    False
2803    False
2804    False
2805    False
2806    False
Length: 2807, dtype: bool

 --- check_unit_columns method executed ---

,id,program_id,objective,value_en,value_es
0,164,30,False,A program created by Marcos Vázquez from Fitne...,Un programa creado por Marcos Vázquez de Fitne...
1,165,30,False,Combine strength and hypertrophy with progress...,Combina fuerza e hipertrofia con ejercicios pr...
2,33,17,False,Sessions designed to speed up your metabolism ...,Sesiones diseñadas para acelerar tu metabolism...
3,60,19,False,Sessions designed to speed up your metabolism ...,Un programa adaptado a tu nivel para crear con...
4,69,13,False,Sessions created to help you progressively imp...,Un programa adaptado a tu nivel para afianzar ...
...,...,...,...,...,...
2802,2925,503,True,Avoid loss of muscle mass.,Evitar la pérdida de masa muscular.
2803,2926,503,True,Prevent cardiovascular diseases.,Prevenir enfermedades cardiovasculares.
2804,2922,503,False,"Training program focused on balance, flexibili...",Programa de entrenamiento enfocado a trabajar ...
2805,2914,500,False,14 training sessions to create a constant phys...,14 sesiones de entrenamiento para crear una ru...
2806,2916,500,False,Effective exercises with an increasing intensi...,"Ejercicios efectivos con una intensidad, que v..."

## programs_sessions

In [12]:
program_sessions = pd.read_csv('../data/program_sessions.csv', on_bad_lines='skip', low_memory=False)

# First check of table
change_data_type_columns = {'datetime': ['created_at', 'updated_at']}

program_sessions = run_individual_table_cleaner(program_sessions, 
                                                       change_data_type_columns)
program_sessions

 --- converting_data_types method executed ---

converting datetime

 --- check_data_type method executed ---

id                     int64
program_id             int64
session_id             int64
created_at    datetime64[ns]
updated_at    datetime64[ns]
dtype: object

 --- check_duplicate method executed ---

0       False
1       False
2       False
3       False
4       False
        ...
1386    False
1387    False
1388    False
1389    False
1390    False
Length: 1391, dtype: bool

 --- check_unit_columns method executed ---

,id,program_id,session_id,created_at,updated_at
0,662,49,586,2021-03-12 16:12:46.327341,2021-03-12 16:12:46.327341
1,855,24,778,2021-06-08 09:07:21.138981,2021-06-08 09:07:21.138981
2,856,24,779,2021-06-08 09:07:40.740510,2021-06-08 09:07:40.740510
3,857,24,780,2021-06-08 09:07:59.657941,2021-06-08 09:07:59.657941
4,279,5,288,2020-12-22 20:21:04.037297,2020-12-22 20:21:04.037297
...,...,...,...,...,...
1386,1783,503,1938,2022-01-07 19:14:08.725028,2022-01-07 19:14:08.725028
1387,1784,503,1939,2022-01-07 19:14:46.715396,2022-01-07 19:14:46.715396
1388,1785,503,1940,2022-01-07 19:15:23.371020,2022-01-07 19:15:23.371020
1389,1786,504,1941,2022-01-14 03:56:58.062909,2022-01-14 03:56:58.062909
1390,1787,483,1942,2022-03-14 19:42:03.222733,2022-03-14 19:42:03.222733

## subscriptions

In [13]:
subscriptions = pd.read_csv('../data/subscriptions.csv', on_bad_lines='skip', low_memory=False)
subscriptions = subscriptions.drop(['platform', 'transaction_body', 'start_date', 
                                     'end_date', 'subscription_type', 'cancelled_at',
                                     'store_metadata','offer_code', 'affiliate_code',
                                     'cancellation_reason', 'receipt_data'], axis = 1)


# First check of table

change_data_type_columns = {'datetime': ['created_at', 'updated_at'],
                            'boolean': ['cancelled', 'status']}

subscriptions = run_individual_table_cleaner(subscriptions, 
                                                       change_data_type_columns)
subscriptions

 --- converting_data_types method executed ---

converting datetime
converting boolean

 --- check_data_type method executed ---

id                     int64
user_id                int64
product_id             int64
program_id             int64
status                object
created_at    datetime64[ns]
updated_at    datetime64[ns]
cancelled               bool
dtype: object

 --- check_duplicate method executed ---

0        False
1        False
2        False
3        False
4        False
         ...
13153    False
13154    False
13155    False
13156    False
13157    False
Length: 13158, dtype: bool

 --- check_unit_columns method executed ---

,id,user_id,product_id,program_id,status,created_at,updated_at,cancelled
0,1353,1907,74,10,True,2021-10-25 11:03:03.245558,2021-10-26 11:50:42.563295,False
1,1352,645,74,8,True,2021-10-25 11:03:02.992647,2021-10-26 11:51:50.627662,False
2,1036,1604,74,6,True,2021-10-25 11:01:41.622483,2021-10-26 22:25:02.543061,False
3,272,529,74,13,True,2021-04-22 10:22:02.773388,2021-11-14 10:53:21.222846,False
4,1173,1737,74,6,True,2021-10-25 11:02:17.157806,2021-12-21 10:00:10.592175,True
...,...,...,...,...,...,...,...,...
13153,13543,16493,74,25,False,2022-03-24 09:13:26.441364,2022-03-24 09:13:26.441364,False
13154,13544,16494,74,10,False,2022-03-24 09:13:26.454334,2022-03-24 09:13:26.454334,False
13155,13545,16495,74,9,False,2022-03-24 09:13:26.467400,2022-03-24 09:13:26.467400,False
13156,13546,16497,74,14,False,2022-03-24 09:13:26.482328,2022-03-24 09:13:26.482328,False
13157,13547,16498,74,22,False,2022-03-24 09:13:26.495007,2022-03-24 09:13:26.495007,False

### program profiles

In [14]:
program_profiles = pd.read_csv('../data/program_profiles.csv', on_bad_lines='skip', low_memory=False)

program_profiles = program_profiles.drop(['created_at', 'updated_at'], axis = 1)
program_profiles

      id  program_id  profile_id
0      1          34           1
1      2          28          20
2      3          28          19
3      4          27          17
4      5          27          15
..   ...         ...         ...
623  626         500          16
624  627         500          17
625  628         500          18
626  629         500          19
627  630         500          20

[628 rows x 3 columns]

### profiles

In [15]:
profiles= pd.read_csv('../data/profiles.csv')
profiles = profiles.drop(['fat_level', 'created_at', 'updated_at'], axis = 1)

### sessions

In [16]:
# Table of sessions 
sessions = pd.read_csv('../data/sessions.csv', on_bad_lines='skip', low_memory=False)
sessions = sessions.drop(['level', 'reps', 'created_at', 'updated_at', 'strength', 
                           'endurance', 'technique', 'flexibility', 'intensity',
                           'name_es'], axis = 1)

### session_blocks

In [17]:
session_blocks = pd.read_csv('../data/session_blocks.csv', on_bad_lines='skip', low_memory=False, header = None)
session_blocks.columns = ['id', 'session_id', 'time_duration', 
                              'created_at', 'updated_at',
                              'order', 'block_type', 'loop']
session_blocks = session_blocks.drop(['created_at', 'updated_at', 'time_duration', 'loop'], axis = 1)

# First check of table
change_data_type_columns = {'int_cols': ['order']}

session_blocks = run_individual_table_cleaner(session_blocks, 
                                             change_data_type_columns)
session_blocks

 --- converting_data_types method executed ---

converting int_cols

 --- check_data_type method executed ---

id              int64
session_id      int64
order         float64
block_type      int64
dtype: object

 --- check_duplicate method executed ---

0       False
1       False
2       False
3       False
4       False
        ...
2981    False
2982    False
2983    False
2984    False
2985    False
Length: 2986, dtype: bool

 --- check_unit_columns method executed ---

        id  session_id  order  block_type
0       62          41    1.0           0
1     3239        1849    1.0          19
2     3240        1850    1.0          19
3     3241        1851    1.0          19
4        5           8    1.0           0
...    ...         ...    ...         ...
2981  3226        1836    1.0          19
2982  3227        1837    1.0          19
2983  3228        1838    1.0          19
2984  3229        1839    1.0          19
2985  3230        1840    1.0          19

[2986 rows x 4 columns]

### session sets

In [18]:
session_sets = pd.read_csv('../data/session_sets.csv', on_bad_lines='skip', low_memory=False)
session_sets = session_sets.drop(['level', 'time_duration', 'reps', 
                                  'session_set_type','created_at', 'updated_at'], axis = 1)

# First check of table
change_data_type_columns = {'boolean': ['loop']}

session_sets = run_individual_table_cleaner(session_sets, 
                                            change_data_type_columns)

 --- converting_data_types method executed ---

converting boolean

 --- check_data_type method executed ---

id                  int64
order               int64
session_block_id    int64
loop                 bool
dtype: object

 --- check_duplicate method executed ---

0        False
1        False
2        False
3        False
4        False
         ...
11540    False
11541    False
11542    False
11543    False
11544    False
Length: 11545, dtype: bool

 --- check_unit_columns method executed ---

### exercise_sets

In [19]:
# Table of exercise sets
exercise_sets = pd.read_csv('../data/exercise_sets.csv', on_bad_lines='skip', low_memory=False)
exercise_sets = exercise_sets.drop(['intensity_modificator'], axis = 1)

# First check of table
change_data_type_columns = {'datetime': ['created_at', 'updated_at'],
                            'boolean': ['track_reps']}

exercise_sets = run_individual_table_cleaner(exercise_sets, 
                                             change_data_type_columns)

 --- converting_data_types method executed ---

converting datetime
converting boolean

 --- check_data_type method executed ---

id                         int64
session_set_id             int64
exercise_id                int64
order                      int64
time_duration            float64
reps                     float64
created_at        datetime64[ns]
updated_at        datetime64[ns]
track_reps                  bool
dtype: object

 --- check_duplicate method executed ---

0        False
1        False
2        False
3        False
4        False
         ...
40833    False
40834    False
40835    False
40836    False
40837    False
Length: 40838, dtype: bool

 --- check_unit_columns method executed ---

In [20]:
# Table of exercises
exercises = pd.read_csv('../data/exercises.csv', sep = ';', on_bad_lines='skip', low_memory=False)
exercises = exercises.drop(['video','reps', 'time','legacy_id', 'replacement_legacy_id', 
                             'family', 'sub_family', 'video_female', 'video_male', 
                             'harder_variation_id', 'easier_variation_id', 'name_es', 'description_es', 
                             'implement_variation_id', 'thumbnail', 'thumbnail_male', 'thumbnail_female', 
                             'notes_en', 'notes_es', 'thumbnail_400', 'thumbnail_400_male',
                             'thumbnail_400_female', 'coach_id', 'test_equivalent_id', 'excluded'], axis = 1)

# First check of table
change_data_type_columns = {'datetime' : ['created_at','updated_at'],
                            'boolean': ['deprecated']}
exercise = run_individual_table_cleaner(exercises, 
                                        change_data_type_columns)

 --- converting_data_types method executed ---

converting datetime
converting boolean

 --- check_data_type method executed ---

id                             int64
created_at            datetime64[ns]
updated_at            datetime64[ns]
deprecated                      bool
body_parts_focused            object
muscles                       object
joints                        object
met_multiplier               float64
name_en                       object
description_en                object
test_correction              float64
execution_time               float64
t1_min                         int64
t1_max                         int64
dtype: object

 --- check_duplicate method executed ---

0      False
1      False
2      False
3      False
4      False
       ...
968    False
969    False
970    False
971    False
972    False
Length: 973, dtype: bool

 --- check_unit_columns method executed ---

In [21]:

# Table of blocks of session executions
session_block_executions = pd.read_csv('../data/session_block_executions.csv', on_bad_lines='skip', low_memory=False)
session_block_executions = session_block_executions.drop(['block_type', 
                                                           'reps_executed',
                                                           'execution_time'], axis = 1)

# First check of table
change_data_type_columns = {'datetime' : ['created_at','updated_at']}
session_block_executions = run_individual_table_cleaner(session_block_executions, 
                                                        change_data_type_columns)

 --- converting_data_types method executed ---

converting datetime

 --- check_data_type method executed ---

id                               int64
session_execution_id             int64
order                            int64
created_at              datetime64[ns]
updated_at              datetime64[ns]
dtype: object

 --- check_duplicate method executed ---

0         False
1         False
2         False
3         False
4         False
          ...
207967    False
207968    False
207969    False
207970    False
207971    False
Length: 207972, dtype: bool

 --- check_unit_columns method executed ---

In [22]:
# Table of sets of executions
session_set_executions = pd.read_csv('../data/session_set_executions.csv', on_bad_lines='skip', low_memory=False)
session_set_executions = session_set_executions.drop(['reps_executed', 'execution_time'], axis = 1)

# First check of table
change_data_type_columns = {'datetime' : ['created_at','updated_at']}
session_set_executions = run_individual_table_cleaner(session_set_executions, 
                                                      change_data_type_columns)

 --- converting_data_types method executed ---

converting datetime

 --- check_data_type method executed ---

id                                     int64
order                                  int64
created_at                    datetime64[ns]
updated_at                    datetime64[ns]
session_block_execution_id             int64
dtype: object

 --- check_duplicate method executed ---

0         False
1         False
2         False
3         False
4         False
          ...
849284    False
849285    False
849286    False
849287    False
849288    False
Length: 849289, dtype: bool

 --- check_unit_columns method executed ---

### exercise_executions

In [23]:
# Table of exercise executions 
exercise_executions = pd.read_csv('../data/exercise_executions.csv', on_bad_lines='skip', low_memory=False, header = None)
exercise_executions.columns = ['id', 'exercise_id', 'session_set_execution_id', 
                              'reps_executed', 'execution_time',
                              'order', 'created_at', 'updated_at']

# First check of table
change_data_type_columns = {'datetime' : ['created_at','updated_at']}

columns_to_check_units = ['order']

exercise_executions = run_individual_table_cleaner(exercise_executions, 
                                                   change_data_type_columns,
                                                   columns_to_check_units)
exercise_executions

 --- converting_data_types method executed ---

converting datetime

 --- check_data_type method executed ---

id                                   int64
exercise_id                          int64
session_set_execution_id             int64
reps_executed                        int64
execution_time                       int64
order                                int64
created_at                  datetime64[ns]
updated_at                  datetime64[ns]
dtype: object

 --- check_duplicate method executed ---

0          False
1          False
2          False
3          False
4          False
           ...
2190284    False
2190285    False
2190286    False
2190287    False
2190288    False
Length: 2190289, dtype: bool

 --- check_unit_columns method executed ---

1     659413
2     636362
3     520425
4     138942
5      66593
13     47360
6      39927
7      19290
8      16047
9      11001
10      9258
11      8015
12      7133
14      3630
15      1341
16      1294
17      1196
18      1190
19       955
20       705
21       138
22        58
0         16
Name: order, dtype: int64

,id,exercise_id,session_set_execution_id,reps_executed,execution_time,order,created_at,updated_at
0,1279660,5236,47654,10,66,1,2021-10-29 13:07:01.918992,2021-10-29 13:07:01.918992
1,1279661,5968,47654,0,15,2,2021-10-29 13:07:01.924569,2021-10-29 13:07:01.924569
2,1279662,5317,47654,10,11,3,2021-10-29 13:07:01.929730,2021-10-29 13:07:01.929730
3,1279663,5968,47654,0,15,4,2021-10-29 13:07:01.934805,2021-10-29 13:07:01.934805
4,1279664,5222,47654,10,19,5,2021-10-29 13:07:01.940808,2021-10-29 13:07:01.940808
...,...,...,...,...,...,...,...,...
2190284,3116554,5968,669974,0,31,2,2022-05-27 07:41:53.378292,2022-05-27 07:41:53.378292
2190285,3116555,5870,669975,6,31,1,2022-05-27 07:41:53.386738,2022-05-27 07:41:53.386738
2190286,3116556,5968,669975,0,31,2,2022-05-27 07:41:53.390694,2022-05-27 07:41:53.390694
2190287,3116557,5870,669976,6,24,1,2022-05-27 07:41:53.399237,2022-05-27 07:41:53.399237
2190288,3116558,5968,669976,0,31,2,2022-05-27 07:41:53.403198,2022-05-27 07:41:53.403198

# Merging - stage 2

After merging all tables, we ensured adherence to foreign key relationships as specified in the SQL schema using the MySQL Workbench program with the mh_database_schema.mwb file. Subsequently, we renamed all columns to ensure clarity and prevent confusion. Each column header now consists of the name of the respective table followed by the variable name within that table. This naming convention was implemented to eliminate ambiguity and avoid the repetition of variables.

In [24]:
# Preparing the columns before merge. 

def rename_columns(df, name_to_append):
    """
        Method to rename a column appending before the name of column, the name of the table

        Parameters:
        df (dataframe): The dataframe to rename
        name_to_append (str): The name of the table to append.

        Returns:
        df (dataframe): The dataframe with the columns renamed.
    """
    df = df.rename(columns=lambda x: name_to_append + "_" + x)
    return df

user_programs = rename_columns(user_programs, "user_programs")
users = rename_columns(users, "users")
programs = rename_columns(programs, "programs")
program_sessions = rename_columns(program_sessions, "program_sessions")
program_characteristics = rename_columns(program_characteristics, "program_characteristics")
subscriptions = rename_columns(subscriptions, "subscriptions")
program_profiles = rename_columns(program_profiles, "program_profiles")
profiles = rename_columns(profiles, "profiles")

session_executions = rename_columns(session_executions, "session_executions")
session_block_executions = rename_columns(session_block_executions, "session_block_executions")
session_set_executions = rename_columns(session_set_executions, "session_set_executions")
exercise_executions = rename_columns(exercise_executions, "exercise_executions")

sessions = rename_columns(sessions, "sessions")
session_blocks = rename_columns(session_blocks, "session_blocks")
session_sets = rename_columns(session_sets, "session_sets")
exercise_sets = rename_columns(exercise_sets, "exercise_sets")
exercises = rename_columns(exercises, "exercises")
session_executions_summary = rename_columns(session_executions_summary, "session_executions_summary")

In [25]:
# Merging session executions with user_programs
# It is useful to retrieve the information about the user id and its programs

merge = session_executions.merge(user_programs,
                                  how ='inner',
                                  left_on = 'session_executions_user_program_id',
                                  right_on= 'user_programs_id')
merge.drop(columns=['user_programs_id'], inplace=True)
merge.shape

(736682, 20)

In [26]:
# Utseful to compare final results

session_executions_summary_with_users = merge.merge(session_executions_summary,
                                        how ='inner',
                                        left_on = 'session_executions_id',
                                        right_on= 'session_executions_summary_session_execution_id')
#merge2.drop(columns=[ser_programs_id'], inplace=True)
session_executions_summary_with_users.shape
# merge2.loc[merge2['session_executions_summary_reps_per_exercise'] == '0']

(732025, 39)

In [27]:
# Merging session_block_executions
# It is useful to connect with the session set executions

merge = merge.merge(session_block_executions,
                    how ='inner',
                    left_on = 'session_executions_id',
                    right_on = 'session_block_executions_session_execution_id')
merge.shape

(154582, 25)

In [28]:
# Merging session_set_executions
# It is useful to connect with the exercise executions

merge = merge.merge(session_set_executions,
                      how ='inner',
                      left_on = 'session_block_executions_id',
                      right_on = 'session_set_executions_session_block_execution_id')
merge.shape

(632541, 30)

In [29]:
# Merging session_set_executions
# It is useful to know the individual exercises executed during the session.

merge= merge.merge(exercise_executions,
                   how ='inner',
                   left_on = 'session_set_executions_id',
                   right_on = 'exercise_executions_session_set_execution_id')
print(merge['session_executions_id'].value_counts(dropna=False))
print(merge.shape)

916       737
917       736
919       735
920       734
918       733
         ...
732672      1
731407      1
731128      1
4861        1
15888       1
Name: session_executions_id, Length: 51405, dtype: int64
(2180871, 38)

In [30]:
# Merging exercises
# It is useful to obtain information about the exercises

merge = merge.merge(exercises,
                     how ='inner',
                     left_on = 'exercise_executions_exercise_id',
                     right_on = 'exercises_id')
print(merge['session_executions_id'].value_counts(dropna=False))
print(merge.shape)

916     737
917     736
919     735
920     734
918     733
       ...
9129      1
5911      1
9490      1
4861      1
4930      1
Name: session_executions_id, Length: 51405, dtype: int64
(2180871, 52)

In [31]:
merge = merge.merge(sessions,
             how='inner',
             left_on='session_executions_session_id',
             right_on='sessions_id')

In [32]:
merge = merge.merge(users,
             how='inner',
             left_on='user_programs_user_id',
             right_on='users_id')

In [33]:
merge.shape

(2180871, 89)

In [34]:
condition_equal_exercises = merge.loc[(merge['exercise_executions_reps_executed'] == 0) & (merge['exercise_executions_execution_time'] == 0)].index
merge = merge.drop(condition_equal_exercises)
merge.shape

(2129008, 89)

In [35]:
# Merging session executions with user_programs
# It is useful to retrieve the information about the user id and its programs

merge = merge.merge(session_executions_summary,
                                        how ='inner',
                                        left_on = 'session_executions_id',
                                        right_on= 'session_executions_summary_session_execution_id')
#merge2.drop(columns=[ser_programs_id'], inplace=True)
merge.shape
# merge2.loc[merge2['session_executions_summary_reps_per_exercise'] == '0']

(2127754, 108)

In [36]:
merge.shape

(2127754, 108)

In [37]:
# Selecting a single session execution from a single user
'''
single_user = merge1.loc[(merge1['session_executions_id'] == 4201)&(merge1['user_programs_user_id'] == 640)]
single_user[['session_executions_discarded', 'session_executions_imported','session_block_executions_id', 'session_set_executions_id', 'exercise_executions_id', 
   'session_block_executions_order', 'session_set_executions_order', 'exercise_executions_order',
   'exercise_executions_reps_executed', 'exercise_executions_execution_time','exercise_executions_updated_at',
   'exercises_body_parts_focused', 'exercises_name_en', 'sessions_description_es']].head(50)
'''

#merge2 = merge.loc[0:(merge.shape[0]*0.01), :]

#exercises_description_en	exercises_test_correction	exercises_execution_time	exercises_t1_min	exercises_t1_max
# Uncomment when testing the exercise counts
'''
merge2.loc[merge2['session_executions_id'] == 4201, ['exercise_executions_reps_executed', 
                                                     'exercise_executions_execution_time', 
                                                     'exercises_name_en', 
                                                     'sessions_order']].head(50)
'''

"\nmerge2.loc[merge2['session_executions_id'] == 4201, ['exercise_executions_reps_executed', \n                                                     'exercise_executions_execution_time', \n                                                     'exercises_name_en', \n                                                     'sessions_order']].head(50)\n"

# Data flattening - stage 3 

Instead of treating each row as an exercise execution, as indicated in the merged table, we flattened it to consider each row as a session execution. This restructuring proved significantly more useful for analyzing session data rather than individual exercises. Moreover, this format facilitated easier manipulation of the data for various analytical purposes.

## Columns Deleted

- All NaN columns:
    - session_executions_execution_time
    - session_executions_discard_reason

 - Information no relevant for data analysis
    - user_programs_created_at	
    - user_programs_updated_at
    - user_programs_current_session_id
    - session_block_executions_id
    - session_block_executions_session_execution_id
    - session_block_executions_created_at
    - session_block_executions_updated_at
    - session_set_executions_session_block_execution_id
    - exercise_executions_session_set_execution_id
    - session_id
    - sessions_code_name
    - sessions_warmup_id
    - session_executions_summary_id
    - session_executions_summary_reps_per_exercise
    - session_executions_summary_secs_per_exercise
    - session_executions_summary_reps_per_min_per_exercise
    - session_executions_summary_created_at
    - session_executions_summary_reps_set_per_block
    - session_executions_summary_time_set_per_block
    - session_executions_summary_average_reps_min_set_per_block
    - session_executions_summary_reps_min_set_block
    - session_executions_summary_name

 - Repeated
    - exercise_executions_exercise_id == exercises_id
    - sessions_description_es = sessions_description_en
    - session_executions_summary_session_execution_id = session_executions_id

 - Many NaNs
    - sessions_session_type
    - users_total_sessions
    - users_total_time
    - users_kcal_per_session
    - users_reps_per_session
 
 - wrong data
   - session_executions_summary_total_time
   - session_executions_summary_reps_per_min (This was not wrong, nevertheless I did not fiugre out what exactly is)

In [38]:
def fill_data(flat_df, row, exercise_name, session_execution_id):
    """
    Function to fill data in a flat dictionary from a row of another DataFrame.

    Parameters:
    flat_df (dict): Dictionary representing the flat DataFrame.
    row (pandas Series): A row from a DataFrame containing data to be filled into flat_df.
    exercise_name (str): The name of the exercise.
    session_execution_id(int): The id of the exercise

    Returns:
    dict: The updated flat dict that will be converted in a DataFrame.
    """

    # Fill reps and time data
    exercise_name_time = exercise_name + '_reps_' + str(flat_df[session_execution_id][exercise_name])
    flat_df[session_execution_id][exercise_name_time] = row['exercise_executions_reps_executed']
    exercise_name_time = exercise_name + '_time_' + str(flat_df[session_execution_id][exercise_name])
    flat_df[session_execution_id][exercise_name_time] = row['exercise_executions_execution_time']        

    # fill session execution data
    flat_df[session_execution_id]['session_executions_user_program_id'] = row['session_executions_user_program_id']
    flat_df[session_execution_id]['session_executions_difficulty_feedback'] = row['session_executions_difficulty_feedback']
    flat_df[session_execution_id]['session_executions_enjoyment_feedback'] = row['session_executions_enjoyment_feedback']
    flat_df[session_execution_id]['session_executions_reps_executed'] = row['session_executions_reps_executed']
    flat_df[session_execution_id]['session_executions_created_at'] = row['session_executions_created_at']
    flat_df[session_execution_id]['session_executions_updated_at'] = row['session_executions_updated_at']
    flat_df[session_execution_id]['session_executions_updated_at'] = row['session_executions_updated_at']
    flat_df[session_execution_id]['session_executions_discarded'] = row['session_executions_discarded']
    flat_df[session_execution_id]['session_executions_imported'] = row['session_executions_imported']
    
    # fill session user programs data
    flat_df[session_execution_id]['user_programs_user_id'] = row['user_programs_user_id']
    flat_df[session_execution_id]['user_programs_program_id'] = row['user_programs_program_id']
    flat_df[session_execution_id]['user_programs_active'] = row['user_programs_active']
    flat_df[session_execution_id]['user_programs_completed'] = row['user_programs_completed']
    flat_df[session_execution_id]['user_programs_enjoyment'] = row['user_programs_enjoyment'] # Check later, A lot of rows are NaNs

    # Fill users data
    flat_df[session_execution_id]['users_created_at'] = row['users_created_at']
    flat_df[session_execution_id]['users_updated_at'] = row['users_updated_at']
    flat_df[session_execution_id]['users_gender'] = row['users_gender']
    flat_df[session_execution_id]['users_activity_level'] = row['users_activity_level']
    flat_df[session_execution_id]['users_body_type'] = row['users_body_type']
    flat_df[session_execution_id]['users_newsletter_subscription'] = row['users_newsletter_subscription']
    flat_df[session_execution_id]['users_sign_in_count'] = row['users_sign_in_count']
    flat_df[session_execution_id]['users_notifications_setting'] = row['users_notifications_setting']
    flat_df[session_execution_id]['users_training_days_setting'] = row['users_training_days_setting']
    flat_df[session_execution_id]['users_country'] = row['users_country']
    flat_df[session_execution_id]['users_points'] = row['users_points']
    flat_df[session_execution_id]['users_scientific_data_usage'] = row['users_scientific_data_usage']
    flat_df[session_execution_id]['users_best_weekly_streak'] = row['users_best_weekly_streak']
    flat_df[session_execution_id]['users_imported'] = row['users_imported']
    flat_df[session_execution_id]['users_goal'] = row['users_goal']
    flat_df[session_execution_id]['users_date_of_birth'] = row['users_date_of_birth']
    flat_df[session_execution_id]['users_height'] = row['users_height']
    flat_df[session_execution_id]['users_weight'] = row['users_weight']
    flat_df[session_execution_id]['users_body_fat'] = row['users_body_fat']

    # TODO: check if it is usefull to fill: exercise_executions_ids, exercise_executions_order
    # flat_df[session_execution_id]['exercises_id'] = row['exercises_id']
    # flat_df[session_execution_id][''] = row['']
    # Fill session block executions and session set execitions data
    # flat_df[session_execution_id]['session_block_executions_order'] = row['session_block_executions_order'] # Check later, because it likely is non useful
    # flat_df[session_execution_id]['session_set_executions_order'] = row['session_set_executions_order']

    # fill exercises data
    flat_df[session_execution_id]['body_parts_focused'][exercise_name] =  row['exercises_body_parts_focused']
    flat_df[session_execution_id]['exercises_muscles'][exercise_name] = row['exercises_muscles']
    flat_df[session_execution_id]['exercises_joints'][exercise_name] = row['exercises_joints']
    flat_df[session_execution_id]['exercises_met_multiplier'][exercise_name] = row['exercises_met_multiplier']
    flat_df[session_execution_id]['exercises_description_en'][exercise_name] = row['exercises_description_en']
    flat_df[session_execution_id]['exercises_test_correction'][exercise_name] = row['exercises_test_correction']
    flat_df[session_execution_id]['exercises_execution_time'][exercise_name] = row['exercises_execution_time']
    flat_df[session_execution_id]['exercises_t1_min'][exercise_name] = row['exercises_t1_min']
    flat_df[session_execution_id]['exercises_t1_max'][exercise_name] = row['exercises_t1_max']

    # fill session data
    flat_df[session_execution_id]['sessions_order'] = row['sessions_order']
    flat_df[session_execution_id]['sessions_time_duration'] = row['sessions_time_duration']
    flat_df[session_execution_id]['sessions_name_en'] = row['sessions_name_en']
    flat_df[session_execution_id]['sessions_description_en'] = row['sessions_description_en']
    flat_df[session_execution_id]['sessions_calories'] = row['sessions_calories']

    # Fill session executions summary data
    flat_df[session_execution_id]['session_executions_summary_total_reps'] = row['session_executions_summary_total_reps']
    flat_df[session_execution_id]['session_executions_summary_total_kcal'] = row['session_executions_summary_total_kcal']
    flat_df[session_execution_id]['session_executions_summary_effort'] = row['session_executions_summary_effort']
    flat_df[session_execution_id]['session_executions_summary_points'] = row['session_executions_summary_points']
    flat_df[session_execution_id]['session_executions_summary_value_of_session'] = row['session_executions_summary_value_of_session']
    flat_df[session_execution_id]['session_executions_summary_updated_at'] = row['session_executions_summary_updated_at']

    return flat_df

In [39]:
flat_df = {} # Dict that will be converted in a flat dataframe

for index, row in merge.iterrows():    

    session_execution_id = row['session_executions_id']
    exercise_name = row['exercises_name_en']

    
    # Check if the session execution exists in the flattened dataframe. If it does, proceed to check the exercise name; 
    # if not, initialize the exercise name counter and initialize the exercise data dicts.
    if session_execution_id in flat_df.keys():
        
        # Check if the exercise name exist in the flattened dataframe. If it does, proceed to increase the exercise name counter; 
        # if not, initialize the exercise name counter.
        if exercise_name in flat_df[session_execution_id].keys():
            
            flat_df[session_execution_id][exercise_name] = flat_df[session_execution_id][exercise_name] + 1
            flat_df = fill_data(flat_df, row, exercise_name, session_execution_id)

        else:
            
            flat_df[session_execution_id][exercise_name] = 1
            flat_df = fill_data(flat_df, row, exercise_name, session_execution_id)
            
    else:
        
        flat_df[session_execution_id] = {}
        flat_df[session_execution_id][exercise_name] = 1
        
        #Initialization useful for exercises data
        flat_df[session_execution_id]['body_parts_focused'] = {}
        flat_df[session_execution_id]['exercises_muscles'] = {}
        flat_df[session_execution_id]['exercises_joints'] = {}
        flat_df[session_execution_id]['exercises_met_multiplier'] = {}
        flat_df[session_execution_id]['exercises_description_en'] = {}
        flat_df[session_execution_id]['exercises_test_correction'] = {}
        flat_df[session_execution_id]['exercises_execution_time'] = {}
        flat_df[session_execution_id]['exercises_t1_min'] = {}
        flat_df[session_execution_id]['exercises_t1_max'] = {}
    
        flat_df = fill_data(flat_df, row, exercise_name, session_execution_id)

In [40]:
merge_df = pd.DataFrame.from_dict(flat_df, orient='index')

In [41]:
# Create the dataframe and organize columns alphabetically
# merge_df = pd.DataFrame.from_dict(flat_df, orient='index')
merge_df = merge_df.reindex(sorted(merge_df.columns), axis=1)

# This dataset is the dataframe after flatteing each exercise executions in session executions
merge_df.to_hdf('../data/flattened_database_merged_with_session_executions_v02.h5', key='data', mode='w')
del merge_df    # allow df to be garbage collected

C:\Users\eVida-PC\AppData\Local\Temp\ipykernel_9464\3377866814.py:6: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed-integer,key->block1_values] [items->Index(['body_parts_focused', 'exercises_description_en',
       'exercises_execution_time', 'exercises_joints',
       'exercises_met_multiplier', 'exercises_muscles', 'exercises_t1_max',
       'exercises_t1_min', 'exercises_test_correction',
       'session_executions_summary_effort',
       'session_executions_summary_updated_at',
       'session_executions_summary_value_of_session',
       'sessions_description_en', 'sessions_name_en', 'users_country'],
      dtype='object')]

  merge_df.to_hdf('../data/flattened_database_merged_with_session_executions_v02.h5', key='data', mode='w')

# Final check of the database: Step 4

In this step we check that the number of exercises correspond with the original number of rows in the exercise merged table

In [42]:
df = pd.read_hdf('../data/flattened_database_merged_with_session_executions_v01.h5',  key='data')

# Remove the variables different to exercises
df_only_exercises = df.drop(columns=['body_parts_focused',
'exercises_description_en',
'exercises_execution_time',
'exercises_joints',
'exercises_met_multiplier',
'exercises_muscles',
'exercises_t1_max',
'exercises_t1_min',
'exercises_test_correction',
'session_executions_created_at',
'session_executions_difficulty_feedback',
'session_executions_discarded',
'session_executions_enjoyment_feedback',
'session_executions_imported',
'session_executions_reps_executed',
'session_executions_updated_at',
'session_executions_user_program_id',
'sessions_calories',
'sessions_description_en',
'sessions_name_en',
'sessions_order',
'sessions_time_duration',
'user_programs_active',
'user_programs_completed',
'user_programs_program_id',
'user_programs_user_id',
'users_created_at',
'users_updated_at',
'users_gender',
'users_activity_level',
'users_body_type',
'users_newsletter_subscription',
'users_sign_in_count',
'users_notifications_setting',
'users_training_days_setting',
'users_country',
'users_points',
'users_scientific_data_usage',
'users_best_weekly_streak', 
'users_imported',
'users_goal',
'users_date_of_birth',
'users_height',
'users_weight',
'users_body_fat',
'session_executions_summary_total_reps',
'session_executions_summary_total_kcal',
'session_executions_summary_effort',
'session_executions_summary_points',
'session_executions_summary_value_of_session',
'session_executions_summary_updated_at'
])

# Iterate over the dataframe rows, remove the nans of the exercises that were not executed on that 
# session execution and sum only the strings with time (the reps are not included because they and the time refer to the same exercise).
# The total sum should match the number of the rows of the original merged dataframe (2180871, 63).
sum_total = 0
for index, row in df_only_exercises.iterrows():
    row = row.dropna()
    sum_exercises = sum(row.keys().str.contains('time'))
    sum_total = sum_total + sum_exercises

KeyError: "['users_goal', 'users_date_of_birth', 'users_height', 'users_weight', 'users_body_fat'] not found in axis"

In [45]:
print(df.shape, sum_total, merge.shape)

(51355, 9181) 2127754 (2127754, 108)

## Test to corroborate the total reps and total time: Step 4.1

We check the session executions summary table that contains the summary session executions with the total reps and total time and compare it with the dataframe that calculates the **total_reps** and **total_time** from the file **data_celaning_dataframe_session_v0.ipynb**

In [68]:
session_executions_summary.loc[(session_executions_summary['session_executions_summary_session_execution_id'] == 746205)]

,session_executions_summary_id,session_executions_summary_session_execution_id,session_executions_summary_total_reps,session_executions_summary_total_time,session_executions_summary_reps_per_min,session_executions_summary_total_kcal,session_executions_summary_reps_per_exercise,session_executions_summary_secs_per_exercise,session_executions_summary_reps_per_min_per_exercise,session_executions_summary_created_at,session_executions_summary_updated_at,session_executions_summary_reps_set_per_block,session_executions_summary_time_set_per_block,session_executions_summary_average_reps_min_set_per_block,session_executions_summary_reps_min_set_block,session_executions_summary_effort,session_executions_summary_points,session_executions_summary_value_of_session,session_executions_summary_name
733711,740498,746205,230,1337,10,90,"{'5235': {'reps': 34, 'name_en': 'Star jump', ...","{'5235': {'name_en': 'Star jump', 'name_es': '...","{'5235': {'value': 17, 'name_en': 'Star jump',...",2022-05-26 03:05:45.917324,2022-05-26 03:05:45.917324,"{""1"": {""1"": {""reps"": 25, ""block_name"": ""Ir""}, ...","{""1"": {""1"": {""block_name"": ""Ir"", ""execution_ti...","{""1"": {""1"": 12.195121951219512, ""2"": 23.809523...",0,9,100,5,0

In [63]:
import datetime

datetime1 = datetime.datetime(2022, 1, 23)
datetime2 = datetime.datetime(2022, 1, 25)

merge.loc[(merge['user_programs_user_id'] == 108) &
          (merge['session_executions_updated_at'] > datetime1) &
          (merge['session_executions_updated_at'] < datetime2), 
          ['user_programs_user_id', 'session_executions_updated_at', 'session_executions_summary_total_reps']]

,user_programs_user_id,session_executions_updated_at,session_executions_summary_total_reps
1198905,108,2022-01-24 11:38:17.767057,90
1198906,108,2022-01-24 11:38:17.767057,90
1198907,108,2022-01-24 11:38:17.767057,90
1198908,108,2022-01-24 11:38:17.767057,90
1198909,108,2022-01-24 11:38:17.767057,90
1198910,108,2022-01-24 11:38:17.767057,90
1198911,108,2022-01-24 11:38:17.767057,90
1198912,108,2022-01-24 11:38:17.767057,90
1198913,108,2022-01-24 11:38:17.767057,90
1198914,108,2022-01-24 11:38:17.767057,90
1198915,108,2022-01-24 11:38:17.767057,90
1198916,108,2022-01-24 11:38:17.767057,90
1198917,108,2022-01-24 11:38:17.767057,90
1198918,108,2022-01-24 11:38:17.767057,90
1198919,108,2022-01-24 11:38:17.767057,90
1198920,108,2022-01-24 11:38:17.767057,90
1198921,108,2022-01-24 11:38:17.767057,90
1198922,108,2022-01-24 11:38:17.767057,90
1198923,108,2022-01-24 11:38:17.767057,90
1198924,108,2022-01-24 11:38:17.767057,90
1198925,108,2022-01-24 11:38:17.767057,90
1198926,108,2022-01-24 11:38:17.767057,90
1198927,108,2022-01-24 11:38:17.767057,90
1198928,108,2022-01-24 11:38:17.767057,90
1198929,108,2022-01-24 11:38:17.767057,90
1198930,108,2022-01-24 11:38:17.767057,90
1198931,108,2022-01-24 11:38:17.767057,90
1198932,108,2022-01-24 11:38:17.767057,90
1198933,108,2022-01-24 11:38:17.767057,90
1198934,108,2022-01-24 11:38:17.767057,90
1198935,108,2022-01-24 11:38:17.767057,90
1198936,108,2022-01-24 11:38:17.767057,90
1198937,108,2022-01-24 11:38:17.767057,90
1198938,108,2022-01-24 11:38:17.767057,90
1198939,108,2022-01-24 11:38:17.767057,90
1198940,108,2022-01-24 11:38:17.767057,90
1198941,108,2022-01-24 11:38:17.767057,90
1198942,108,2022-01-24 11:38:17.767057,90
1198943,108,2022-01-24 12:07:44.199707,190
1198944,108,2022-01-24 12:07:44.199707,190
1198945,108,2022-01-24 12:07:44.199707,190
1198946,108,2022-01-24 12:07:44.199707,190
1198947,108,2022-01-24 12:07:44.199707,190
1198948,108,2022-01-24 12:07:44.199707,190
1198949,108,2022-01-24 12:07:44.199707,190
1198950,108,2022-01-24 12:07:44.199707,190
1198951,108,2022-01-24 12:07:44.199707,190
1198952,108,2022-01-24 12:07:44.199707,190
1198953,108,2022-01-24 12:07:44.199707,190
1198954,108,2022-01-24 12:07:44.199707,190
1198955,108,2022-01-24 12:07:44.199707,190
1198956,108,2022-01-24 12:07:44.199707,190
1198957,108,2022-01-24 12:07:44.199707,190
1198958,108,2022-01-24 12:07:44.199707,190
1198959,108,2022-01-24 12:07:44.199707,190
1198960,108,2022-01-24 12:07:44.199707,190
1198961,108,2022-01-24 12:07:44.199707,190
1198962,108,2022-01-24 12:07:44.199707,190
1198963,108,2022-01-24 12:07:44.199707,190
1198964,108,2022-01-24 12:07:44.199707,190
1198965,108,2022-01-24 12:07:44.199707,190
1198966,108,2022-01-24 12:07:44.199707,190
1198967,108,2022-01-24 12:07:44.199707,190
1198968,108,2022-01-24 12:07:44.199707,190
1198969,108,2022-01-24 12:07:44.199707,190
1198970,108,2022-01-24 12:07:44.199707,190
1198971,108,2022-01-24 12:07:44.199707,190
1198972,108,2022-01-24 12:07:44.199707,190
1198973,108,2022-01-24 12:07:44.199707,190
1198974,108,2022-01-24 12:07:44.199707,190
1198975,108,2022-01-24 12:07:44.199707,190

## Test to corroborate the flattening procedure Step 4.2

Experiments To corroborate if the proccess of flatteing was carried out correctly

In [47]:
# Corregir el Merge Remove Error from here condition = (time_diff < 10) | (time_diff.shift(-1) < 10)

import datetime
a = merge.loc[(merge['session_executions_updated_at'] > datetime.datetime(2022, 1, 23)) & 
          (merge['session_executions_updated_at'] < datetime.datetime(2022, 1, 24)) & 
          (merge['exercises_name_en'] == 'Rest') &
          (merge['user_programs_user_id'] == 6243),
          ['session_executions_id', 'exercise_executions_reps_executed', 'exercise_executions_execution_time', 'exercises_name_en', 'session_executions_updated_at', 'user_programs_user_id']]
# The following values were not removed from the condition condition = (time_diff < 30) | (time_diff.shift(-1) < 30)
# in the data_cleaning_merged_table file
# a.drop([715728, 715729, 715728, 715730, 715731, 715737, 715738, 715739, 715740]).sum()