<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [1]:
import numpy as np
import pandas as pd
import io
import math

In [2]:
with open('/home/evida-monika/mhunters/session_execution_summaries.csv') as f:
    s = f.read()

In [4]:
# print(s[0:3000])

In [3]:
s = s.replace("\\", "")
s = s.replace("\n", ",")

In [4]:
text_file = open("/home/evida-monika/mhunters/sample.txt", "w")
n = text_file.write(s)
text_file.close()

In [5]:
def split(x):
    parts = []
    bracket_level = 0
    current = []
    for c in (x + ","):
        if c == "," and bracket_level == 0:
            parts.append("".join(current))
            current = []
        else:
            if c == "{":
                bracket_level += 1
            elif c == "}":
                bracket_level -= 1
            current.append(c)
    return parts

In [6]:
wynik2 = split(s)
# print(wynik2[0:20])

In [7]:
names = ['id', 'session_execution_id', 'total_reps', 'total_time',
       'reps_per_min', 'total_kcal', 'reps_per_exercise', 'mins_per_exercise',
       'reps_per_min_per_exercise', 'created_at', 'updated_at',
       'reps_set_per_block', 'time_set_per_block',
       'average_reps_min_set_per_block', 'reps_min_set_block', 'effort',
       'points', 'value_of_session', 'body_parts_spider', 'name']

In [8]:
def slice_per(source, step):
    return [source[i::step] for i in range(step)]

In [9]:
zmianka = slice_per(wynik2, 20)

In [10]:
df = pd.DataFrame(zmianka).transpose()
df.columns = names
df.shape

(734012, 20)

In [11]:
df.head()

,id,session_execution_id,total_reps,total_time,reps_per_min,total_kcal,reps_per_exercise,mins_per_exercise,reps_per_min_per_exercise,created_at,updated_at,reps_set_per_block,time_set_per_block,average_reps_min_set_per_block,reps_min_set_block,effort,points,value_of_session,body_parts_spider,name
0,407,421,483,364,79,1110,"{""5286"": {""reps"": 55, ""name_en"": ""Free thruste...","{""5286"": {""name_en"": ""Free thruster"", ""name_es...","{""5286"": {""value"": 90, ""name_en"": ""Free thrust...",2020-12-09 11:48:50.800666,2021-07-06 09:42:38.144316,"{""1"": {""1"": {""reps"": 120}, ""2"": {""reps"": 27}, ...","{""1"": {""1"": {""execution_time"": 23}, ""2"": {""exe...","{""1"": {""1"": 313.04347826086956, ""2"": 135.0, ""3...",N,N,100,N,N,N
1,4366,4660,384,3072,7,213,"{""5231"": {""reps"": 48, ""name_en"": ""Box jump"", ""...","{""5231"": {""name_en"": ""Box jump"", ""name_es"": ""S...","{""5231"": {""value"": 14, ""name_en"": ""Box jump"", ...",2021-09-20 17:33:20.459139,2021-09-20 17:33:20.459139,"{""1"": {""1"": {""reps"": 48, ""block_name"": ""Ir""}, ...","{""1"": {""1"": {""block_name"": ""Ir"", ""execution_ti...","{""1"": {""1"": 10.62730627306273, ""2"": 16.2711864...",N,8,100,5,N,N
2,4768,5100,398,1248,19,75,"{""5236"": {""reps"": 40, ""name_en"": ""Burpee"", ""na...","{""5236"": {""name_en"": ""Burpee"", ""name_es"": ""Bur...","{""5236"": {""value"": 19, ""name_en"": ""Burpee"", ""n...",2021-10-11 10:44:10.853129,2021-10-11 10:44:10.853129,"{""1"": {""1"": {""reps"": 21, ""block_name"": ""Super ...","{""1"": {""1"": {""block_name"": ""Super serie"", ""exe...","{""1"": {""1"": 17.26027397260274, ""2"": 26.25, ""3""...",N,5,100,5,N,N
3,5040,5391,480,2822,10,225,"{""5228"": {""reps"": 48, ""name_en"": ""Leg lifts"", ...","{""5228"": {""name_en"": ""Leg lifts"", ""name_es"": ""...","{""5228"": {""value"": 720, ""name_en"": ""Leg lifts""...",2021-10-27 17:32:19.293177,2021-10-27 17:32:19.293177,"{""1"": {""1"": {""reps"": 60, ""block_name"": ""Ir""}, ...","{""1"": {""1"": {""block_name"": ""Ir"", ""execution_ti...","{""1"": {""1"": 13.688212927756652, ""2"": 18.75, ""3...",N,7,100,2,N,N
4,25972,28881,72,484,N,187,N,N,N,2020-11-11 14:56:38,2022-01-14 04:11:27.067597,N,N,N,N,10,76,5,N,Mh::Workout

In [15]:
df = df.drop(['value_of_session'], axis = 1)

In [12]:
df = df.replace('N', np.NaN)

In [13]:
df.head()

,id,session_execution_id,total_reps,total_time,reps_per_min,total_kcal,reps_per_exercise,mins_per_exercise,reps_per_min_per_exercise,created_at,updated_at,reps_set_per_block,time_set_per_block,average_reps_min_set_per_block,reps_min_set_block,effort,points,value_of_session,body_parts_spider,name
0,407,421,483,364,79,1110,"{""5286"": {""reps"": 55, ""name_en"": ""Free thruste...","{""5286"": {""name_en"": ""Free thruster"", ""name_es...","{""5286"": {""value"": 90, ""name_en"": ""Free thrust...",2020-12-09 11:48:50.800666,2021-07-06 09:42:38.144316,"{""1"": {""1"": {""reps"": 120}, ""2"": {""reps"": 27}, ...","{""1"": {""1"": {""execution_time"": 23}, ""2"": {""exe...","{""1"": {""1"": 313.04347826086956, ""2"": 135.0, ""3...",NaN,NaN,100,NaN,NaN,NaN
1,4366,4660,384,3072,7,213,"{""5231"": {""reps"": 48, ""name_en"": ""Box jump"", ""...","{""5231"": {""name_en"": ""Box jump"", ""name_es"": ""S...","{""5231"": {""value"": 14, ""name_en"": ""Box jump"", ...",2021-09-20 17:33:20.459139,2021-09-20 17:33:20.459139,"{""1"": {""1"": {""reps"": 48, ""block_name"": ""Ir""}, ...","{""1"": {""1"": {""block_name"": ""Ir"", ""execution_ti...","{""1"": {""1"": 10.62730627306273, ""2"": 16.2711864...",NaN,8,100,5,NaN,NaN
2,4768,5100,398,1248,19,75,"{""5236"": {""reps"": 40, ""name_en"": ""Burpee"", ""na...","{""5236"": {""name_en"": ""Burpee"", ""name_es"": ""Bur...","{""5236"": {""value"": 19, ""name_en"": ""Burpee"", ""n...",2021-10-11 10:44:10.853129,2021-10-11 10:44:10.853129,"{""1"": {""1"": {""reps"": 21, ""block_name"": ""Super ...","{""1"": {""1"": {""block_name"": ""Super serie"", ""exe...","{""1"": {""1"": 17.26027397260274, ""2"": 26.25, ""3""...",NaN,5,100,5,NaN,NaN
3,5040,5391,480,2822,10,225,"{""5228"": {""reps"": 48, ""name_en"": ""Leg lifts"", ...","{""5228"": {""name_en"": ""Leg lifts"", ""name_es"": ""...","{""5228"": {""value"": 720, ""name_en"": ""Leg lifts""...",2021-10-27 17:32:19.293177,2021-10-27 17:32:19.293177,"{""1"": {""1"": {""reps"": 60, ""block_name"": ""Ir""}, ...","{""1"": {""1"": {""block_name"": ""Ir"", ""execution_ti...","{""1"": {""1"": 13.688212927756652, ""2"": 18.75, ""3...",NaN,7,100,2,NaN,NaN
4,25972,28881,72,484,NaN,187,NaN,NaN,NaN,2020-11-11 14:56:38,2022-01-14 04:11:27.067597,NaN,NaN,NaN,NaN,10,76,5,NaN,Mh::Workout

In [16]:
df.iloc[:, 1:6]

       session_execution_id total_reps total_time reps_per_min total_kcal
0                       421        483        364           79       1110
1                      4660        384       3072            7        213
2                      5100        398       1248           19         75
3                      5391        480       2822           10        225
4                     28881         72        484          NaN        187
...                     ...        ...        ...          ...        ...
734007               746511        228       2264            6        128
734008               746512        200        941           12         74
734009               746513        358        263           81         70
734010               746515        217       1279           10         69
734011                 None       None       None         None       None

[734012 rows x 5 columns]

In [15]:
print(df.isnull().sum())

id                                     0
session_execution_id                   1
total_reps                             1
total_time                             1
reps_per_min                      682396
total_kcal                             1
reps_per_exercise                 682259
mins_per_exercise                 682259
reps_per_min_per_exercise         682259
created_at                             1
updated_at                             1
reps_set_per_block                682259
time_set_per_block                682259
average_reps_min_set_per_block    682259
reps_min_set_block                734012
effort                            136442
points                                 1
value_of_session                  136436
body_parts_spider                 734012
name                               51754
dtype: int64

In [16]:
df.tail()

,id,session_execution_id,total_reps,total_time,reps_per_min,total_kcal,reps_per_exercise,mins_per_exercise,reps_per_min_per_exercise,created_at,updated_at,reps_set_per_block,time_set_per_block,average_reps_min_set_per_block,reps_min_set_block,effort,points,value_of_session,body_parts_spider,name
734007,740795,746511,228,2264,6,128,"{""5588"": {""reps"": 40, ""name_en"": ""Chin up"", ""n...","{""5588"": {""name_en"": ""Chin up"", ""name_es"": ""Do...","{""5588"": {""value"": 21, ""name_en"": ""Chin up"", ""...",2022-05-27 07:24:41.925006,2022-05-27 07:24:41.925006,"{""1"": {""1"": {""reps"": 20, ""block_name"": ""Super ...","{""1"": {""1"": {""block_name"": ""Super serie"", ""exe...","{""1"": {""1"": 13.333333333333334, ""2"": 9.1603053...",NaN,7,100,5,NaN,NaN
734008,740796,746512,200,941,12,74,"{""5584"": {""reps"": 25, ""name_en"": ""Handstand pu...","{""5584"": {""name_en"": ""Handstand push-up"", ""nam...","{""5584"": {""value"": 9, ""name_en"": ""Handstand pu...",2022-05-27 07:26:04.657635,2022-05-27 07:26:04.657635,"{""1"": {""1"": {""reps"": 200, ""block_name"": ""Ir""}}}","{""1"": {""1"": {""block_name"": ""Ir"", ""execution_ti...","{""1"": {""1"": 12.75239107332625}}",NaN,5,100,3,NaN,NaN
734009,740797,746513,358,263,81,70,"{""5236"": {""reps"": 20, ""name_en"": ""Burpee"", ""na...","{""5236"": {""name_en"": ""Burpee"", ""name_es"": ""Bur...","{""5236"": {""value"": 15, ""name_en"": ""Burpee"", ""n...",2022-05-27 07:27:06.565455,2022-05-27 07:27:06.565455,"{""1"": {""1"": {""reps"": 20, ""block_name"": ""Interv...","{""1"": {""1"": {""block_name"": ""Intervalo a repeti...","{""1"": {""1"": 150.0, ""2"": 1200.0, ""3"": 1200.0}, ...",NaN,7,100,4,NaN,NaN
734010,740799,746515,217,1279,10,69,"{""5262"": {""reps"": 36, ""name_en"": ""Pull-up"", ""n...","{""5262"": {""name_en"": ""Pull-up"", ""name_es"": ""Do...","{""5262"": {""value"": 15, ""name_en"": ""Pull-up"", ""...",2022-05-27 07:42:18.48234,2022-05-27 07:42:18.48234,"{""1"": {""1"": {""reps"": 9, ""block_name"": ""Prueba ...","{""1"": {""1"": {""block_name"": ""Prueba de tiempo"",...","{""1"": {""1"": 15.0, ""2"": 22.5, ""3"": 21.599999999...",NaN,8,100,5,NaN,NaN
734011,,None,None,None,None,None,None,None,None,None,None,None,None,None,NaN,None,None,None,NaN,None

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 734012 entries, 0 to 734011
Data columns (total 20 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              734012 non-null  object
 1   session_execution_id            734011 non-null  object
 2   total_reps                      734011 non-null  object
 3   total_time                      734011 non-null  object
 4   reps_per_min                    51616 non-null   object
 5   total_kcal                      734011 non-null  object
 6   reps_per_exercise               51753 non-null   object
 7   mins_per_exercise               51753 non-null   object
 8   reps_per_min_per_exercise       51753 non-null   object
 9   created_at                      734011 non-null  object
 10  updated_at                      734011 non-null  object
 11  reps_set_per_block              51753 non-null   object
 12  time_set_per_block              51753 non-null   object
 13  average_reps_min_set_per_block  51753 non-null   object
 14  reps_min_set_block              0 non-null       float64
 15  effort                          597570 non-null  object
 16  points                          734011 non-null  object
 17  value_of_session                597576 non-null  object
 18  body_parts_spider               0 non-null       float64
 19  name                            682258 non-null  object
dtypes: float64(2), object(18)
memory usage: 112.0+ MB

In [18]:
def jeden(table, var):
    print('nunique:', table[var].nunique(), ',',
'duplicated:', table[var].duplicated().any(), ',',
     'nan sum', table[var].isna().sum())

In [19]:
jeden(df, 'session_execution_id')

nunique: 734011 , duplicated: False , nan sum 1

In [20]:
first_jsonb = df['reps_per_exercise']
first_jsonb.head()

0    {"5286": {"reps": 55, "name_en": "Free thruste...
1    {"5231": {"reps": 48, "name_en": "Box jump", "...
2    {"5236": {"reps": 40, "name_en": "Burpee", "na...
3    {"5228": {"reps": 48, "name_en": "Leg lifts", ...
4                                                  NaN
Name: reps_per_exercise, dtype: object

In [21]:
type(first_jsonb)

pandas.core.series.Series

In [22]:
jsonb_one = first_jsonb[0]
jsonb_one

'{"5286": {"reps": 55, "name_en": "Free thruster", "name_es": "Thruster libre"}, "5289": {"reps": 157, "name_en": "Inclined push-up", "name_es": "Flexión inclinada"}, "5291": {"reps": 271, "name_en": "Bridge", "name_es": "El puente"}}'

In [23]:
type(jsonb_one)

str

In [24]:
jsonb_one = jsonb_one.replace("{", "")
jsonb_one = jsonb_one.replace("}", "")
jsonb_one = jsonb_one.replace(":", ",")
jsonb_one = jsonb_one.replace(" "" ", "")
jsonb_one

'"5286", "reps", 55, "name_en", "Free thruster", "name_es", "Thruster libre", "5289", "reps", 157, "name_en", "Inclined push-up", "name_es", "Flexión inclinada", "5291", "reps", 271, "name_en", "Bridge", "name_es", "El puente"'

In [25]:
jsonb_one = jsonb_one.split(',')

In [26]:
jsonb_one

['"5286"',
 ' "reps"',
 ' 55',
 ' "name_en"',
 ' "Free thruster"',
 ' "name_es"',
 ' "Thruster libre"',
 ' "5289"',
 ' "reps"',
 ' 157',
 ' "name_en"',
 ' "Inclined push-up"',
 ' "name_es"',
 ' "Flexión inclinada"',
 ' "5291"',
 ' "reps"',
 ' 271',
 ' "name_en"',
 ' "Bridge"',
 ' "name_es"',
 ' "El puente"']

In [27]:
type(jsonb_one)

list

In [28]:
maybe1 = pd.DataFrame(jsonb_one).transpose()
maybe1

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,"""5286""","""reps""",55,"""name_en""","""Free thruster""","""name_es""","""Thruster libre""","""5289""","""reps""",157,...,"""Inclined push-up""","""name_es""","""Flexión inclinada""","""5291""","""reps""",271,"""name_en""","""Bridge""","""name_es""","""El puente"""

In [29]:
jsonb_two = first_jsonb[[0,1]]
jsonb_two

0    {"5286": {"reps": 55, "name_en": "Free thruste...
1    {"5231": {"reps": 48, "name_en": "Box jump", "...
Name: reps_per_exercise, dtype: object

In [30]:
type(jsonb_two)

pandas.core.series.Series

In [31]:
jsonb_two = pd.DataFrame(jsonb_two)

In [32]:
jsonb_two

                                   reps_per_exercise
0  {"5286": {"reps": 55, "name_en": "Free thruste...
1  {"5231": {"reps": 48, "name_en": "Box jump", "...

In [33]:
jsonb_two['reps_per_exercise'] = jsonb_two['reps_per_exercise'].astype("string")

In [34]:
type(jsonb_two['reps_per_exercise'][1])

str

In [35]:
jsonb_two = jsonb_two.replace("{", "")
jsonb_two = jsonb_two.replace("}", "")
jsonb_two = jsonb_two.replace(":", ",")
jsonb_two = jsonb_two.replace(" "" ", "")
jsonb_two

                                   reps_per_exercise
0  {"5286": {"reps": 55, "name_en": "Free thruste...
1  {"5231": {"reps": 48, "name_en": "Box jump", "...

In [36]:
print(jsonb_two.items())

<generator object DataFrame.items at 0x7f20b4368ba0>

In [37]:
for items, values in jsonb_two.items():
    print(values)

0    {"5286": {"reps": 55, "name_en": "Free thruste...
1    {"5231": {"reps": 48, "name_en": "Box jump", "...
Name: reps_per_exercise, dtype: string

In [38]:
x = []

for i, v in jsonb_two['reps_per_exercise'].items():
    #print(jsonb_two['reps_per_exercise'][i])
    jsonb_two['reps_per_exercise'][i] = jsonb_two['reps_per_exercise'][i].replace("{", "")
    jsonb_two['reps_per_exercise'][i] = jsonb_two['reps_per_exercise'][i].replace("}", "")
    jsonb_two['reps_per_exercise'][i] = jsonb_two['reps_per_exercise'][i].replace(":", ",")
    #jsonb_two['reps_per_exercise'][i] = jsonb_two['reps_per_exercise'][i].str.replace('"', '')
    
    #jsonb_two['reps_per_exercise'][i] = jsonb_two['reps_per_exercise'][i].split(",")
    jsonb_two['reps_per_exercise'][i] = jsonb_two['reps_per_exercise'][i].replace("{", "")
    

    x.append(jsonb_two['reps_per_exercise'][i].split(","))
#print(x)

In [39]:
maybe2 = pd.DataFrame(x)
maybe2

,0,1,2,3,4,5,6,7,8,9,...,53,54,55,56,57,58,59,60,61,62
0,"""5286""","""reps""",55,"""name_en""","""Free thruster""","""name_es""","""Thruster libre""","""5289""","""reps""",157,...,None,None,None,None,None,None,None,None,None,None
1,"""5231""","""reps""",48,"""name_en""","""Box jump""","""name_es""","""Salto caja""","""5300""","""reps""",0,...,"""Press trx""","""name_es""","""Press trx""","""5859""","""reps""",48,"""name_en""","""Suspended row""","""name_es""","""Remo en suspensión"""

In [40]:
maybe2 = maybe2.replace('"', '', regex=True)
maybe2

,0,1,2,3,4,5,6,7,8,9,...,53,54,55,56,57,58,59,60,61,62
0,5286,reps,55,name_en,Free thruster,name_es,Thruster libre,5289,reps,157,...,None,None,None,None,None,None,None,None,None,None
1,5231,reps,48,name_en,Box jump,name_es,Salto caja,5300,reps,0,...,Press trx,name_es,Press trx,5859,reps,48,name_en,Suspended row,name_es,Remo en suspensión

In [41]:
maybe2 = maybe2.loc[:, ~(maybe2 == ' reps').any()]
maybe2 = maybe2.loc[:, ~(maybe2 == ' name_en').any()]
maybe2 = maybe2.loc[:, ~(maybe2 == ' name_es').any()]

In [42]:
maybe2

,0,2,4,6,7,9,11,13,14,16,...,46,48,49,51,53,55,56,58,60,62
0,5286,55,Free thruster,Thruster libre,5289,157,Inclined push-up,Flexión inclinada,5291,271,...,None,None,None,None,None,None,None,None,None,None
1,5231,48,Box jump,Salto caja,5300,0,Sprint,Sprint,5358,48,...,Forward thrust,Lanzada adelante,5778,48,Press trx,Press trx,5859,48,Suspended row,Remo en suspensión

In [43]:
int(len(maybe2.columns)/4)

9

In [44]:
maxcol = int(len(maybe2.columns)/4)
basename1 = "no"
no = ["{}_{}".format(basename1, i) for i in range(1,maxcol+1)]

basename2 = 'reps'
reps = ["{}_{}".format(basename2, i) for i in range(1,maxcol+1)]

basename3 = 'name_en'
name_en = ["{}_{}".format(basename3, i) for i in range(1,maxcol+1)]

basename4 = 'name_es'
name_es = ["{}_{}".format(basename4, i) for i in range(1,maxcol+1)]

#print('no:', no, '\n', 'reps:', reps, '\n', 'name_en:', name_en, 
#      '\n', 'name_es:', name_es)

In [45]:
y = []

for j in range(0, maxcol):
    y.append(no[j])
    y.append(reps[j])
    y.append(name_en[j])
    y.append(name_es[j])

# print(y)

In [46]:
maybe2.columns = y
maybe2

,no_1,reps_1,name_en_1,name_es_1,no_2,reps_2,name_en_2,name_es_2,no_3,reps_3,...,name_en_7,name_es_7,no_8,reps_8,name_en_8,name_es_8,no_9,reps_9,name_en_9,name_es_9
0,5286,55,Free thruster,Thruster libre,5289,157,Inclined push-up,Flexión inclinada,5291,271,...,None,None,None,None,None,None,None,None,None,None
1,5231,48,Box jump,Salto caja,5300,0,Sprint,Sprint,5358,48,...,Forward thrust,Lanzada adelante,5778,48,Press trx,Press trx,5859,48,Suspended row,Remo en suspensión

In [47]:
jsonb_3 = first_jsonb.head(7)
jsonb_3

0    {"5286": {"reps": 55, "name_en": "Free thruste...
1    {"5231": {"reps": 48, "name_en": "Box jump", "...
2    {"5236": {"reps": 40, "name_en": "Burpee", "na...
3    {"5228": {"reps": 48, "name_en": "Leg lifts", ...
4                                                  NaN
5                                                  NaN
6                                                  NaN
Name: reps_per_exercise, dtype: object

In [48]:
type(jsonb_3)

pandas.core.series.Series

In [49]:
jsonb_3 = pd.DataFrame(jsonb_3)
jsonb_3['reps_per_exercise'] = jsonb_3['reps_per_exercise'].astype("string")
jsonb_3

                                   reps_per_exercise
0  {"5286": {"reps": 55, "name_en": "Free thruste...
1  {"5231": {"reps": 48, "name_en": "Box jump", "...
2  {"5236": {"reps": 40, "name_en": "Burpee", "na...
3  {"5228": {"reps": 48, "name_en": "Leg lifts", ...
4                                               <NA>
5                                               <NA>
6                                               <NA>

In [50]:
jsonb_3 = jsonb_3.dropna()
jsonb_3

                                   reps_per_exercise
0  {"5286": {"reps": 55, "name_en": "Free thruste...
1  {"5231": {"reps": 48, "name_en": "Box jump", "...
2  {"5236": {"reps": 40, "name_en": "Burpee", "na...
3  {"5228": {"reps": 48, "name_en": "Leg lifts", ...

In [51]:
x3 = []

for i, v in jsonb_3['reps_per_exercise'].items():
    #print(jsonb_two['reps_per_exercise'][i])
    jsonb_3['reps_per_exercise'][i] = jsonb_3['reps_per_exercise'][i].replace("{", "")
    jsonb_3['reps_per_exercise'][i] = jsonb_3['reps_per_exercise'][i].replace("}", "")
    jsonb_3['reps_per_exercise'][i] = jsonb_3['reps_per_exercise'][i].replace(":", ",")
    #jsonb_two['reps_per_exercise'][i] = jsonb_two['reps_per_exercise'][i].str.replace('"', '')
    
    #jsonb_two['reps_per_exercise'][i] = jsonb_two['reps_per_exercise'][i].split(",")
    jsonb_3['reps_per_exercise'][i] = jsonb_3['reps_per_exercise'][i].replace("(shoulder, hip, knee, ankle)", "")
    

    x3.append(jsonb_3['reps_per_exercise'][i].split(","))
# print(x3)

/tmp/ipykernel_35856/77293755.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jsonb_3['reps_per_exercise'][i] = jsonb_3['reps_per_exercise'][i].replace("{", "")
/tmp/ipykernel_35856/77293755.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jsonb_3['reps_per_exercise'][i] = jsonb_3['reps_per_exercise'][i].replace("}", "")
/tmp/ipykernel_35856/77293755.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jsonb_3['reps_per_exercise'][i] = jsonb_3['reps_per_exercise'][i].replace(":", ",")
/tmp/ipykernel_35856/77293755.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jsonb_3['reps_per_exercise'][i] = jsonb_3['reps_per_exercise'][i].replace("(shoulder, hip, knee, ankle)", "")

In [52]:
maybe3 = pd.DataFrame(x3)
maybe3 = maybe3.replace('"', '', regex=True)
maybe3 = maybe3.loc[:, ~(maybe3 == ' reps').any()]
maybe3 = maybe3.loc[:, ~(maybe3 == ' name_en').any()]
maybe3 = maybe3.loc[:, ~(maybe3 == ' name_es').any()]
maybe3

,0,2,4,6,7,9,11,13,14,16,...,60,62,63,65,67,69,70,72,74,76
0,5286,55,Free thruster,Thruster libre,5289,157,Inclined push-up,Flexión inclinada,5291,271,...,None,None,None,None,None,None,None,None,None,None
1,5231,48,Box jump,Salto caja,5300,0,Sprint,Sprint,5358,48,...,Suspended row,Remo en suspensión,None,None,None,None,None,None,None,None
2,5236,40,Burpee,Burpee,5583,60,Push-up,Flexión,5606,80,...,None,None,None,None,None,None,None,None,None,None
3,5228,48,Leg lifts,Levantar las piernas,5295,48,Declined push-up,Flexión declinada,5300,0,...,Australian pull-up with box and trx,Dominada australiana con caja y trx,5815,48,Trx pistol (right),Pistol en trx (derecha),5816,48,Trx pistol (left),Pistol en trx (izquierda)

In [53]:
maybe3.iloc[:,13:30]

,23,25,27,28,30,32,34,35,37,39,41,42,44,46,48,49,51
0,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1,48,Push press,Push press,5377,48,Front squat with weight,Sentadilla con peso frontal,5420,48,Assisted chin-ups,Chin ups asistida,5770,48,Forward thrust,Lanzada adelante,5778,48
2,194,Plank taps,Plancha con toques,5648,0,Side plank (left),Plancha lateral (izquierda),5662,0,Side plank (right),Plancha lateral (derecha),6022,24,Pull-up,Dominada,None,None
3,48,Reverse spider push-up,Flexión spider inversa,5359,48,Assisted pull-up,Dominada asistida,5380,48,Power clean with KB,Cargada completa con KB,5412,48,Bulgarian squat (right),Sentadilla búlgara (derecha),5413,48

In [54]:
int(len(maybe3.columns)/4)

11

In [55]:
len(maybe3.columns)

44

In [56]:
maxcol3 = int(len(maybe3.columns)/4)
basename1 = "no"
no = ["{}_{}".format(basename1, i) for i in range(1,maxcol3+1)]

basename2 = 'reps'
reps = ["{}_{}".format(basename2, i) for i in range(1,maxcol3+1)]

basename3 = 'name_en'
name_en = ["{}_{}".format(basename3, i) for i in range(1,maxcol3+1)]

basename4 = 'name_es'
name_es = ["{}_{}".format(basename4, i) for i in range(1,maxcol3+1)]

print('no:', no, '\n', 'reps:', reps, '\n', 'name_en:', name_en, 
      '\n', 'name_es:', name_es)

no: ['no_1', 'no_2', 'no_3', 'no_4', 'no_5', 'no_6', 'no_7', 'no_8', 'no_9', 'no_10', 'no_11']
 reps: ['reps_1', 'reps_2', 'reps_3', 'reps_4', 'reps_5', 'reps_6', 'reps_7', 'reps_8', 'reps_9', 'reps_10', 'reps_11']
 name_en: ['name_en_1', 'name_en_2', 'name_en_3', 'name_en_4', 'name_en_5', 'name_en_6', 'name_en_7', 'name_en_8', 'name_en_9', 'name_en_10', 'name_en_11']
 name_es: ['name_es_1', 'name_es_2', 'name_es_3', 'name_es_4', 'name_es_5', 'name_es_6', 'name_es_7', 'name_es_8', 'name_es_9', 'name_es_10', 'name_es_11']

In [57]:
y3 = []

for j in range(0, maxcol3):
    y3.append(no[j])
    y3.append(reps[j])
    y3.append(name_en[j])
    y3.append(name_es[j])

# print(y)

maybe3.columns = y3
maybe3

,no_1,reps_1,name_en_1,name_es_1,no_2,reps_2,name_en_2,name_es_2,no_3,reps_3,...,name_en_9,name_es_9,no_10,reps_10,name_en_10,name_es_10,no_11,reps_11,name_en_11,name_es_11
0,5286,55,Free thruster,Thruster libre,5289,157,Inclined push-up,Flexión inclinada,5291,271,...,None,None,None,None,None,None,None,None,None,None
1,5231,48,Box jump,Salto caja,5300,0,Sprint,Sprint,5358,48,...,Suspended row,Remo en suspensión,None,None,None,None,None,None,None,None
2,5236,40,Burpee,Burpee,5583,60,Push-up,Flexión,5606,80,...,None,None,None,None,None,None,None,None,None,None
3,5228,48,Leg lifts,Levantar las piernas,5295,48,Declined push-up,Flexión declinada,5300,0,...,Australian pull-up with box and trx,Dominada australiana con caja y trx,5815,48,Trx pistol (right),Pistol en trx (derecha),5816,48,Trx pistol (left),Pistol en trx (izquierda)

In [58]:
first_jsonb = pd.DataFrame(first_jsonb)
first_jsonb['reps_per_exercise'] = first_jsonb['reps_per_exercise'].astype("string")
first_jsonb

                                        reps_per_exercise
0       {"5286": {"reps": 55, "name_en": "Free thruste...
1       {"5231": {"reps": 48, "name_en": "Box jump", "...
2       {"5236": {"reps": 40, "name_en": "Burpee", "na...
3       {"5228": {"reps": 48, "name_en": "Leg lifts", ...
4                                                    <NA>
...                                                   ...
734007  {"5588": {"reps": 40, "name_en": "Chin up", "n...
734008  {"5584": {"reps": 25, "name_en": "Handstand pu...
734009  {"5236": {"reps": 20, "name_en": "Burpee", "na...
734010  {"5262": {"reps": 36, "name_en": "Pull-up", "n...
734011                                               <NA>

[734012 rows x 1 columns]

In [59]:
first_jsonb = first_jsonb.dropna()

In [60]:
x4 = []

for i, v in first_jsonb['reps_per_exercise'].items():
    #print(jsonb_two['reps_per_exercise'][i])
    first_jsonb['reps_per_exercise'][i] = first_jsonb['reps_per_exercise'][i].replace("{", "")
    first_jsonb['reps_per_exercise'][i] = first_jsonb['reps_per_exercise'][i].replace("}", "")
    first_jsonb['reps_per_exercise'][i] = first_jsonb['reps_per_exercise'][i].replace(":", ",")
    #jsonb_two['reps_per_exercise'][i] = jsonb_two['reps_per_exercise'][i].str.replace('"', '')
    
    #jsonb_two['reps_per_exercise'][i] = jsonb_two['reps_per_exercise'][i].split(",")
    first_jsonb['reps_per_exercise'][i] = first_jsonb['reps_per_exercise'][i].replace("(shoulder, hip, knee, ankle)", "")
    

    x4.append(first_jsonb['reps_per_exercise'][i].split(","))
# print(x3)

/tmp/ipykernel_35856/2755989562.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_jsonb['reps_per_exercise'][i] = first_jsonb['reps_per_exercise'][i].replace("{", "")
/tmp/ipykernel_35856/2755989562.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_jsonb['reps_per_exercise'][i] = first_jsonb['reps_per_exercise'][i].replace("}", "")
/tmp/ipykernel_35856/2755989562.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_jsonb['reps_per_exercise'][i] = first_jsonb['reps_per_exercise'][i].replace(":", ",")
/tmp/ipykernel_35856/2755989562.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_jsonb['reps_per_exercise'][i] = first_jsonb['reps_per_exercise'][i].replace("(shoulder, hip, knee, ankle)", "")

In [61]:
maybe4 = pd.DataFrame(x4)
maybe4 = maybe4.replace('"', '', regex=True)
maybe4 = maybe4.loc[:, ~(maybe4 == ' reps').any()]
maybe4 = maybe4.loc[:, ~(maybe4 == ' name_en').any()]
maybe4 = maybe4.loc[:, ~(maybe4 == ' name_es').any()]
maybe4

,0,2,4,6,7,9,11,13,14,16,...,102,104,105,107,109,111,112,114,116,118
0,5286,55,Free thruster,Thruster libre,5289,157,Inclined push-up,Flexión inclinada,5291,271,...,None,None,None,None,None,None,None,None,None,None
1,5231,48,Box jump,Salto caja,5300,0,Sprint,Sprint,5358,48,...,None,None,None,None,None,None,None,None,None,None
2,5236,40,Burpee,Burpee,5583,60,Push-up,Flexión,5606,80,...,None,None,None,None,None,None,None,None,None,None
3,5228,48,Leg lifts,Levantar las piernas,5295,48,Declined push-up,Flexión declinada,5300,0,...,None,None,None,None,None,None,None,None,None,None
4,5584,32,Handstand push-up,Flexión vertical,5588,24,Chin up,Dominada supina,5594,40,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51748,5222,36,Mckenzie,Mckenzie,5242,36,Squat,Sentadilla,5291,30,...,None,None,None,None,None,None,None,None,None,None
51749,5588,40,Chin up,Dominada supina,5605,24,Wall climb,Escalada de pared,5621,36,...,None,None,None,None,None,None,None,None,None,None
51750,5584,25,Handstand push-up,Flexión vertical,5593,50,Backward lunge,Desplante hacia atrás,5594,100,...,None,None,None,None,None,None,None,None,None,None
51751,5236,20,Burpee,Burpee,5595,60,Jumping lunge,Desplante con salto,5599,80,...,None,None,None,None,None,None,None,None,None,None
51752,5262,36,Pull-up,Dominada,5396,40,Pistol squat (right),Sentadilla de pistolero (derecha),5397,40,...,None,None,None,None,None,None,None,None,None,None

In [62]:
maxcol4 = int(len(maybe4.columns)/4)
basename1 = "no"
no = ["{}_{}".format(basename1, i) for i in range(1,maxcol4+1)]

basename2 = 'reps'
reps = ["{}_{}".format(basename2, i) for i in range(1,maxcol4+1)]

basename3 = 'name_en'
name_en = ["{}_{}".format(basename3, i) for i in range(1,maxcol4+1)]

basename4 = 'name_es'
name_es = ["{}_{}".format(basename4, i) for i in range(1,maxcol4+1)]

#print('no:', no, '\n', 'reps:', reps, '\n', 'name_en:', name_en, 
#      '\n', 'name_es:', name_es)

In [63]:
y4 = []

for j in range(0, maxcol4):
    y4.append(no[j])
    y4.append(reps[j])
    y4.append(name_en[j])
    y4.append(name_es[j])

# print(y)

maybe4.columns = y4
maybe4

,no_1,reps_1,name_en_1,name_es_1,no_2,reps_2,name_en_2,name_es_2,no_3,reps_3,...,name_en_15,name_es_15,no_16,reps_16,name_en_16,name_es_16,no_17,reps_17,name_en_17,name_es_17
0,5286,55,Free thruster,Thruster libre,5289,157,Inclined push-up,Flexión inclinada,5291,271,...,None,None,None,None,None,None,None,None,None,None
1,5231,48,Box jump,Salto caja,5300,0,Sprint,Sprint,5358,48,...,None,None,None,None,None,None,None,None,None,None
2,5236,40,Burpee,Burpee,5583,60,Push-up,Flexión,5606,80,...,None,None,None,None,None,None,None,None,None,None
3,5228,48,Leg lifts,Levantar las piernas,5295,48,Declined push-up,Flexión declinada,5300,0,...,None,None,None,None,None,None,None,None,None,None
4,5584,32,Handstand push-up,Flexión vertical,5588,24,Chin up,Dominada supina,5594,40,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51748,5222,36,Mckenzie,Mckenzie,5242,36,Squat,Sentadilla,5291,30,...,None,None,None,None,None,None,None,None,None,None
51749,5588,40,Chin up,Dominada supina,5605,24,Wall climb,Escalada de pared,5621,36,...,None,None,None,None,None,None,None,None,None,None
51750,5584,25,Handstand push-up,Flexión vertical,5593,50,Backward lunge,Desplante hacia atrás,5594,100,...,None,None,None,None,None,None,None,None,None,None
51751,5236,20,Burpee,Burpee,5595,60,Jumping lunge,Desplante con salto,5599,80,...,None,None,None,None,None,None,None,None,None,None
51752,5262,36,Pull-up,Dominada,5396,40,Pistol squat (right),Sentadilla de pistolero (derecha),5397,40,...,None,None,None,None,None,None,None,None,None,None

In [64]:
maybe4.fillna("",inplace=True)
maybe4

,no_1,reps_1,name_en_1,name_es_1,no_2,reps_2,name_en_2,name_es_2,no_3,reps_3,...,name_en_15,name_es_15,no_16,reps_16,name_en_16,name_es_16,no_17,reps_17,name_en_17,name_es_17
0,5286,55,Free thruster,Thruster libre,5289,157,Inclined push-up,Flexión inclinada,5291,271,...,,,,,,,,,,
1,5231,48,Box jump,Salto caja,5300,0,Sprint,Sprint,5358,48,...,,,,,,,,,,
2,5236,40,Burpee,Burpee,5583,60,Push-up,Flexión,5606,80,...,,,,,,,,,,
3,5228,48,Leg lifts,Levantar las piernas,5295,48,Declined push-up,Flexión declinada,5300,0,...,,,,,,,,,,
4,5584,32,Handstand push-up,Flexión vertical,5588,24,Chin up,Dominada supina,5594,40,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51748,5222,36,Mckenzie,Mckenzie,5242,36,Squat,Sentadilla,5291,30,...,,,,,,,,,,
51749,5588,40,Chin up,Dominada supina,5605,24,Wall climb,Escalada de pared,5621,36,...,,,,,,,,,,
51750,5584,25,Handstand push-up,Flexión vertical,5593,50,Backward lunge,Desplante hacia atrás,5594,100,...,,,,,,,,,,
51751,5236,20,Burpee,Burpee,5595,60,Jumping lunge,Desplante con salto,5599,80,...,,,,,,,,,,
51752,5262,36,Pull-up,Dominada,5396,40,Pistol squat (right),Sentadilla de pistolero (derecha),5397,40,...,,,,,,,,,,

In [65]:
for header in maybe4.columns:
    if "reps" in header:
        #print(maybe4[header].head())
        maybe4[header] = pd.to_numeric(maybe4[header], errors='coerce')
        maybe4[header] = maybe4[header].astype('Int64')

    if "no_" in header:
        #maybe4[header].head()
        maybe4[header] = pd.to_numeric(maybe4[header], errors='coerce')
        maybe4[header] = maybe4[header].astype('Int64')

maybe4.head()

,no_1,reps_1,name_en_1,name_es_1,no_2,reps_2,name_en_2,name_es_2,no_3,reps_3,...,name_en_15,name_es_15,no_16,reps_16,name_en_16,name_es_16,no_17,reps_17,name_en_17,name_es_17
0,5286,55,Free thruster,Thruster libre,5289,157,Inclined push-up,Flexión inclinada,5291,271,...,,,<NA>,<NA>,,,<NA>,<NA>,,
1,5231,48,Box jump,Salto caja,5300,0,Sprint,Sprint,5358,48,...,,,<NA>,<NA>,,,<NA>,<NA>,,
2,5236,40,Burpee,Burpee,5583,60,Push-up,Flexión,5606,80,...,,,<NA>,<NA>,,,<NA>,<NA>,,
3,5228,48,Leg lifts,Levantar las piernas,5295,48,Declined push-up,Flexión declinada,5300,0,...,,,<NA>,<NA>,,,<NA>,<NA>,,
4,5584,32,Handstand push-up,Flexión vertical,5588,24,Chin up,Dominada supina,5594,40,...,,,<NA>,<NA>,,,<NA>,<NA>,,

In [66]:
maybe4 = maybe4.replace('', np.NaN)
maybe4 = maybe4.replace('<NA>', np.NaN)
maybe4 = maybe4.replace({pd.NA: np.nan})
maybe4

,no_1,reps_1,name_en_1,name_es_1,no_2,reps_2,name_en_2,name_es_2,no_3,reps_3,...,name_en_15,name_es_15,no_16,reps_16,name_en_16,name_es_16,no_17,reps_17,name_en_17,name_es_17
0,5286,55,Free thruster,Thruster libre,5289,157,Inclined push-up,Flexión inclinada,5291,271,...,NaN,NaN,<NA>,<NA>,NaN,NaN,<NA>,<NA>,NaN,NaN
1,5231,48,Box jump,Salto caja,5300,0,Sprint,Sprint,5358,48,...,NaN,NaN,<NA>,<NA>,NaN,NaN,<NA>,<NA>,NaN,NaN
2,5236,40,Burpee,Burpee,5583,60,Push-up,Flexión,5606,80,...,NaN,NaN,<NA>,<NA>,NaN,NaN,<NA>,<NA>,NaN,NaN
3,5228,48,Leg lifts,Levantar las piernas,5295,48,Declined push-up,Flexión declinada,5300,0,...,NaN,NaN,<NA>,<NA>,NaN,NaN,<NA>,<NA>,NaN,NaN
4,5584,32,Handstand push-up,Flexión vertical,5588,24,Chin up,Dominada supina,5594,40,...,NaN,NaN,<NA>,<NA>,NaN,NaN,<NA>,<NA>,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51748,5222,36,Mckenzie,Mckenzie,5242,36,Squat,Sentadilla,5291,30,...,NaN,NaN,<NA>,<NA>,NaN,NaN,<NA>,<NA>,NaN,NaN
51749,5588,40,Chin up,Dominada supina,5605,24,Wall climb,Escalada de pared,5621,36,...,NaN,NaN,<NA>,<NA>,NaN,NaN,<NA>,<NA>,NaN,NaN
51750,5584,25,Handstand push-up,Flexión vertical,5593,50,Backward lunge,Desplante hacia atrás,5594,100,...,NaN,NaN,<NA>,<NA>,NaN,NaN,<NA>,<NA>,NaN,NaN
51751,5236,20,Burpee,Burpee,5595,60,Jumping lunge,Desplante con salto,5599,80,...,NaN,NaN,<NA>,<NA>,NaN,NaN,<NA>,<NA>,NaN,NaN
51752,5262,36,Pull-up,Dominada,5396,40,Pistol squat (right),Sentadilla de pistolero (derecha),5397,40,...,NaN,NaN,<NA>,<NA>,NaN,NaN,<NA>,<NA>,NaN,NaN

In [67]:
df['mins_per_exercise'][0]

'{"5286": {"name_en": "Free thruster", "name_es": "Thruster libre", "execution_time": 37}, "5289": {"name_en": "Inclined push-up", "name_es": "Flexión inclinada", "execution_time": 242}, "5291": {"name_en": "Bridge", "name_es": "El puente", "execution_time": 85}}'

In [68]:
df['reps_per_min_per_exercise'][0]

'{"5286": {"value": 90, "name_en": "Free thruster", "name_es": "Thruster libre"}, "5289": {"value": 39, "name_en": "Inclined push-up", "name_es": "Flexión inclinada"}, "5291": {"value": 192, "name_en": "Bridge", "name_es": "El puente"}}'

In [69]:
df['reps_set_per_block'][0]

'{"1": {"1": {"reps": 120}, "2": {"reps": 27}, "3": {"reps": 16}, "4": {"reps": 35}, "5": {"reps": 42}, "6": {"reps": 15}, "7": {"reps": 16}, "8": {"reps": 9}, "9": {"reps": 6}, "10": {"reps": 197}}}'

In [70]:
df['time_set_per_block'][0]

'{"1": {"1": {"execution_time": 23}, "2": {"execution_time": 12}, "3": {"execution_time": 2}, "4": {"execution_time": 85}, "5": {"execution_time": 10}, "6": {"execution_time": 23}, "7": {"execution_time": 9}, "8": {"execution_time": 9}, "9": {"execution_time": 18}, "10": {"execution_time": 173}}}'

In [71]:
df['average_reps_min_set_per_block'].head(7)

0    {"1": {"1": 313.04347826086956, "2": 135.0, "3...
1    {"1": {"1": 10.62730627306273, "2": 16.2711864...
2    {"1": {"1": 17.26027397260274, "2": 26.25, "3"...
3    {"1": {"1": 13.688212927756652, "2": 18.75, "3...
4                                                  NaN
5                                                  NaN
6                                                  NaN
Name: average_reps_min_set_per_block, dtype: object

In [73]:
def conversion_from_jsonb(df, var):
    if var in ['reps_per_exercise', 'mins_per_exercise',
              'reps_per_min_per_exercise',  'reps_set_per_block', 
              'time_set_per_block', 'average_reps_min_set_per_block']:
        
        data = pd.DataFrame(df[var])
        data[var] = data[var].astype("string")
        data = data.dropna()
        
        x = []

        for i, v in data[var].items():
            #print(data[var][i])
            data[var][i] = data[var][i].replace("{", "")
            data[var][i] = data[var][i].replace("}", "")
            data[var][i] = data[var][i].replace(":", ",")
            #jdata[var][i] = data[var][i].str.replace('"', '')

            #data[var][i] = data[var][i].split(",")
            data[var][i] = data[var][i].replace("(shoulder, hip, knee, ankle)", "")

            x.append(data[var][i].split(","))
        
        data2 = pd.DataFrame(x)
        data2 = data2.replace('"', '', regex=True)
        data2 = data2.replace(" null", np.NaN)
        
        data2.fillna("",inplace=True)
        
        
        if var == 'reps_per_exercise':
            
            data2 = data2.loc[:, ~(data2 == ' reps').any()]
            data2 = data2.loc[:, ~(data2 == ' name_en').any()]
            data2 = data2.loc[:, ~(data2 == ' name_es').any()]
            
            maxcol = int(len(data2.columns)/4)
            
            basename1 = "no"
            no = ["{}_{}".format(basename1, i) for i in range(1,maxcol+1)]

            basename2 = 'reps'
            reps = ["{}_{}".format(basename2, i) for i in range(1,maxcol+1)]

            basename3 = 'name_en'
            name_en = ["{}_{}".format(basename3, i) for i in range(1,maxcol+1)]

            basename4 = 'name_es'
            name_es = ["{}_{}".format(basename4, i) for i in range(1,maxcol+1)]
   
            y = []

            for j in range(0, maxcol):
                y.append(no[j])
                y.append(reps[j])
                y.append(name_en[j])
                y.append(name_es[j])

            data2.columns = y
        
            for header in data2.columns:
                if "reps" in header:
                    #print(maybe4[header].head())
                    data2[header] = pd.to_numeric(data2[header], errors='coerce')
                    #data2[header] = data2[header].astype('Int64')

                if "no_" in header:
                    #maybe4[header].head()
                    data2[header] = pd.to_numeric(data2[header], errors='coerce')
                    #data2[header] = data2[header].astype('Int64')
                
                """
                if "name_" in header:
                    data2[header] = data2[header].fillna(None)
                """

        
        if var == 'mins_per_exercise':
            
            data2 = data2.loc[:, ~(data2 == ' execution_time').any()]
            data2 = data2.loc[:, ~(data2 == ' name_en').any()]
            data2 = data2.loc[:, ~(data2 == ' name_es').any()]
            
            maxcol = int(len(data2.columns)/4)
            
            basename1 = "no"
            no = ["{}_{}".format(basename1, i) for i in range(1,maxcol+1)]

            basename2 = 'name_en'
            name_en = ["{}_{}".format(basename2, i) for i in range(1,maxcol+1)]

            basename3 = 'name_es'
            name_es = ["{}_{}".format(basename3, i) for i in range(1,maxcol+1)]
            
            basename4 = 'execution_time'
            execution_time = ["{}_{}".format(basename4, i) for i in range(1,maxcol+1)]
            
            y = []

            for j in range(0, maxcol):
                y.append(no[j])
                y.append(name_en[j])
                y.append(name_es[j])
                y.append(execution_time[j])

            data2.columns = y
        
            for header in data2.columns:
                if "execution_time" in header:
                    #print(maybe4[header].head())
                    data2[header] = pd.to_numeric(data2[header], errors='coerce')
                    data2[header] = data2[header].astype('Int64')

                if "no_" in header:
                    #maybe4[header].head()
                    data2[header] = pd.to_numeric(data2[header], errors='coerce')
                    data2[header] = data2[header].astype('Int64')
        
        if var == 'reps_per_min_per_exercise':
            
            data2 = data2.loc[:, ~(data2 == ' value').any()]
            data2 = data2.loc[:, ~(data2 == ' name_en').any()]
            data2 = data2.loc[:, ~(data2 == ' name_es').any()]
            
            maxcol = int(len(data2.columns)/4)
            
            basename1 = "no"
            no = ["{}_{}".format(basename1, i) for i in range(1,maxcol+1)]

            basename2 = 'value'
            val = ["{}_{}".format(basename2, i) for i in range(1,maxcol+1)]

            basename3 = 'name_en'
            name_en = ["{}_{}".format(basename3, i) for i in range(1,maxcol+1)]

            basename4 = 'name_es'
            name_es = ["{}_{}".format(basename4, i) for i in range(1,maxcol+1)]
            
            y = []

            for j in range(0, maxcol):
                y.append(no[j])
                y.append(val[j])
                y.append(name_en[j])
                y.append(name_es[j])
                

            data2.columns = y
        
            for header in data2.columns:
                if "value" in header:
                    #print(maybe4[header].head())
                    data2[header] = pd.to_numeric(data2[header], errors='coerce')
                    data2[header] = data2[header].astype('Int64')

                if "no_" in header:
                    #maybe4[header].head()
                    data2[header] = pd.to_numeric(data2[header], errors='coerce')
                    data2[header] = data2[header].astype('Int64')
                    
'''
        if var == 'reps_set_per_block':
            
            data2 = data2.iloc[1:]
            
            data2 = data2.loc[:, ~(data2 == ' reps').any()]
            
            maxcol = int(len(data2.columns)/2)
            
            no = ['no']
            
            basename2 = 'no1'
            no1 = ["{}_{}".format(basename2, i) for i in range(1,maxcol+1)]

            basename3 = 'value'
            val = ["{}_{}".format(basename3, i) for i in range(1,maxcol+1)]
            
            y = []
            y.append(no[0])

            for j in range(0, maxcol):
                y.append(no1[j])
                y.append(val[j])
                
            data2.columns = y
        
            for header in data2.columns:
                if "value" in header:
                    #print(maybe4[header].head())
                    data2[header] = pd.to_numeric(data2[header], errors='coerce')
                    data2[header] = data2[header].astype('Int64')

                if "no_" in header:
                    #maybe4[header].head()
                    data2[header] = pd.to_numeric(data2[header], errors='coerce')
                    data2[header] = data2[header].astype('Int64')
                    
                if "no" in header:
                    #maybe4[header].head()
                    data2[header] = pd.to_numeric(data2[header], errors='coerce')
                    data2[header] = data2[header].astype('Int64')
                    
                   

        if var == 'time_set_per_block':
            
            data2 = data2.loc[:, ~(data2 == ' execution_time').any()]
            
            maxcol = int(len(data2.columns)/2)
            
            no = ['no']
            
            basename2 = 'no1'
            no1 = ["{}_{}".format(basename2, i) for i in range(1,maxcol+1)]

            basename3 = 'execution_time'
            execution_time = ["{}_{}".format(basename3, i) for i in range(1,maxcol+1)]
            
            y = []
            y.append(no[0])

            for j in range(0, maxcol):
                y.append(no1[j])
                y.append(execution_time[j])
                
            data2.columns = y
        
            for header in data2.columns:
                if "execution_time" in header:
                    #print(maybe4[header].head())
                    data2[header] = pd.to_numeric(data2[header], errors='coerce')
                    data2[header] = data2[header].astype('Int64')

                if "no_" in header:
                    #maybe4[header].head()
                    data2[header] = pd.to_numeric(data2[header], errors='coerce')
                    data2[header] = data2[header].astype('Int64')
                    
                if "no" in header:
                    #maybe4[header].head()
                    data2[header] = pd.to_numeric(data2[header], errors='coerce')
                    data2[header] = data2[header].astype('Int64') 

'''

        if var == 'average_reps_min_set_per_block':
            
            # data2 = data2.loc[:, ~(data2 == ' execution_time').any()]
            
            maxcol = int(len(data2.columns)/2)
            
            no = ['no']
            
            basename2 = 'no1'
            no1 = ["{}_{}".format(basename2, i) for i in range(1,maxcol+1)]

            basename3 = 'average'
            average = ["{}_{}".format(basename3, i) for i in range(1,maxcol+1)]
            
            y = []
            y.append(no[0])

            for j in range(0, maxcol):
                y.append(no1[j])
                y.append(average[j])
                
            y.pop()
                
            data2.columns = y
            
            for header in data2.columns:
                if "average" in header:
                    #print(maybe4[header].head())
                    data2[header] = pd.to_numeric(data2[header], errors='coerce')

                if "no1_" in header:
                    #maybe4[header].head()
                    data2[header] = pd.to_numeric(data2[header], errors='coerce')
                    #data2[header] = data2[header].astype('Int64')
                    
                if "no" in header:
                    #maybe4[header].head()
                    data2[header] = pd.to_numeric(data2[header], errors='coerce')
                    #data2[header] = data2[header].astype('Int64') 
                    
        
        
        #data2.fillna("",inplace=True)
        data2.fillna(np.NaN, inplace = True)
        data2 = data2.replace("", np.NaN)
        #data2 = data2.where(~pd.isna(data2), np.nan)
        data2 = data2.replace(pd.NaT, np.NaN)
            
        return(data2)
         
    else: print("Sorry! Wrong variable chosen!")

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 296)

In [ ]:
conversion_from_jsonb(df, 'reps_per_exercise')

In [ ]:
conversion_from_jsonb(df, 'average_reps_min_set_per_block')

In [ ]:
conversion_from_jsonb(df, 'mins_per_exercise')

In [ ]:
conversion_from_jsonb(df, 'reps_per_min_per_exercise')

In [ ]:
conversion_from_jsonb(df, 'time_set_per_block')

In [ ]:
df['time_set_per_block'][1]

In [ ]:
df['time_set_per_block'][15]

In [ ]:
df['time_set_per_block'][12]

In [ ]:
# d2 = df['average_reps_min_set_per_block']

d = pd.DataFrame(df['reps_set_per_block'])
d['reps_set_per_block'] = d['reps_set_per_block'].astype("string")
d = d.dropna()
        
x = []

for i, v in d['reps_set_per_block'].items():
            #print(data[var][i])
    d['reps_set_per_block'][i] = d['reps_set_per_block'][i].replace("{", "")
    d['reps_set_per_block'][i] = d['reps_set_per_block'][i].replace("}", "")
    d['reps_set_per_block'][i] = d['reps_set_per_block'][i].replace(":", ",")
            #jdata[var][i] = data[var][i].str.replace('"', '')

            #data[var][i] = data[var][i].split(",")
    d['reps_set_per_block'][i] = d['reps_set_per_block'][i].replace("(shoulder, hip, knee, ankle)", "")

    x.append(d['reps_set_per_block'][i].split(","))

In [ ]:
df['reps_set_per_block'][12]

In [ ]:
df['reps_set_per_block'][11]